#grassTile div {
  box-shadow: 3px 0px #80d010, 6px 0px #80d010, 9px 0px #80d010, 12px 0px #80d010, 15px 0px #00a800, 18px 0px #80d010, 21px 0px #80d010, 24px 0px #80d010, 27px 0px #80d010, 30px 0px #80d010, 33px 0px #80d010, 36px 0px #80d010, 39px 0px #00a800, 42px 0px #80d010, 45px 0px #80d010, 0px 3px #80d010, 3px 3px #80d010, 6px 3px #00a800, 9px 3px #80d010, 12px 3px #80d010, 15px 3px #80d010, 18px 3px #80d010, 21px 3px #80d010, 24px 3px #80d010, 27px 3px #80d010, 30px 3px #00a800, 33px 3px #80d010, 36px 3px #80d010, 39px 3px #80d010, 42px 3px #80d010, 45px 3px #80d010, 0px 6px #80d010, 3px 6px #80d010, 6px 6px #80d010, 9px 6px #80d010, 12px 6px #80d010, 15px 6px #80d010, 18px 6px #80d010, 21px 6px #80d010, 24px 6px #80d010, 27px 6px #80d010, 30px 6px #80d010, 33px 6px #80d010, 36px 6px #80d010, 39px 6px #80d010, 42px 6px #80d010, 45px 6px #80d010, 0px 9px #80d010, 3px 9px #80d010, 6px 9px #80d010, 9px 9px #80d010, 12px 9px #80d010, 15px 9px #80d010, 18px 9px #00a800, 21px 9px #80d010, 24px 9px #80d010, 27px 9px #80d010, 30px 9px #80d010, 33px 9px #80d010, 36px 9px #80d010, 39px 9px #80d010, 42px 9px #00a800, 45px 9px #80d010, 0px 12px #80d010, 3px 12px #00a800, 6px 12px #80d010, 9px 12px #80d010, 12px 12px #80d010, 15px 12px #80d010, 18px 12px #80d010, 21px 12px #80d010, 24px 12px #80d010, 27px 12px #00a800, 30px 12px #80d010, 33px 12px #80d010, 36px 12px #80d010, 39px 12px #80d010, 42px 12px #80d010, 45px 12px #80d010, 0px 15px #80d010, 3px 15px #80d010, 6px 15px #80d010, 9px 15px #80d010, 12px 15px #80d010, 15px 15px #80d010, 18px 15px #80d010, 21px 15px #80d010, 24px 15px #80d010, 27px 15px #80d010, 30px 15px #80d010, 33px 15px #80d010, 36px 15px #80d010, 39px 15px #80d010, 42px 15px #80d010, 45px 15px #80d010, 0px 18px #80d010, 3px 18px #80d010, 6px 18px #80d010, 9px 18px #00a800, 12px 18px #80d010, 15px 18px #80d010, 18px 18px #80d010, 21px 18px #80d010, 24px 18px #80d010, 27px 18px #80d010, 30px 18px #80d010, 33px 18px #00a800, 36px 18px #80d010, 39px 18px #80d010, 42px 18px #80d010, 45px 18px #80d010, 0px 21px #80d010, 3px 21px #80d010, 6px 21px #80d010, 9px 21px #80d010, 12px 21px #80d010, 15px 21px #80d010, 18px 21px #80d010, 21px 21px #80d010, 24px 21px #80d010, 27px 21px #80d010, 30px 21px #80d010, 33px 21px #80d010, 36px 21px #80d010, 39px 21px #80d010, 42px 21px #80d010, 45px 21px #80d010, 0px 24px #80d010, 3px 24px #80d010, 6px 24px #80d010, 9px 24px #80d010, 12px 24px #80d010, 15px 24px #00a800, 18px 24px #80d010, 21px 24px #80d010, 24px 24px #80d010, 27px 24px #80d010, 30px 24px #80d010, 33px 24px #80d010, 36px 24px #80d010, 39px 24px #00a800, 42px 24px #80d010, 45px 24px #80d010, 0px 27px #80d010, 3px 27px #80d010, 6px 27px #00a800, 9px 27px #80d010, 12px 27px #80d010, 15px 27px #80d010, 18px 27px #80d010, 21px 27px #80d010, 24px 27px #80d010, 27px 27px #80d010, 30px 27px #00a800, 33px 27px #80d010, 36px 27px #80d010, 39px 27px #80d010, 42px 27px #80d010, 45px 27px #80d010, 0px 30px #80d010, 3px 30px #80d010, 6px 30px #80d010, 9px 30px #80d010, 12px 30px #80d010, 15px 30px #80d010, 18px 30px #80d010, 21px 30px #80d010, 24px 30px #80d010, 27px 30px #80d010, 30px 30px #80d010, 33px 30px #80d010, 36px 30px #80d010, 39px 30px #80d010, 42px 30px #80d010, 45px 30px #80d010, 0px 33px #80d010, 3px 33px #80d010, 6px 33px #80d010, 9px 33px #80d010, 12px 33px #80d010, 15px 33px #80d010, 18px 33px #00a800, 21px 33px #80d010, 24px 33px #80d010, 27px 33px #80d010, 30px 33px #80d010, 33px 33px #80d010, 36px 33px #80d010, 39px 33px #80d010, 42px 33px #00a800, 45px 33px #80d010, 0px 36px #80d010, 3px 36px #00a800, 6px 36px #80d010, 9px 36px #80d010, 12px 36px #80d010, 15px 36px #80d010, 18px 36px #80d010, 21px 36px #80d010, 24px 36px #80d010, 27px 36px #00a800, 30px 36px #80d010, 33px 36px #80d010, 36px 36px #80d010, 39px 36px #80d010, 42px 36px #80d010, 45px 36px #80d010, 0px 39px #80d010, 3px 39px #80d010, 6px 39px #80d010, 9px 39px #80d010, 12px 39px #80d010, 15px 39px #80d010, 18px 39px #80d010, 21px 39px #80d010, 24px 39px #80d010, 27px 39px #80d010, 30px 39px #80d010, 33px 39px #80d010, 36px 39px #80d010, 39px 39px #80d010, 42px 39px #80d010, 45px 39px #80d010, 0px 42px #80d010, 3px 42px #80d010, 6px 42px #80d010, 9px 42px #00a800, 12px 42px #80d010, 15px 42px #80d010, 18px 42px #80d010, 21px 42px #80d010, 24px 42px #80d010, 27px 42px #80d010, 30px 42px #80d010, 33px 42px #00a800, 36px 42px #80d010, 39px 42px #80d010, 42px 42px #80d010, 45px 42px #80d010, 0px 45px #80d010, 3px 45px #80d010, 6px 45px #80d010, 9px 45px #80d010, 12px 45px #80d010, 15px 45px #80d010, 18px 45px #80d010, 21px 45px #80d010, 24px 45px #80d010, 27px 45px #80d010, 30px 45px #80d010, 33px 45px #80d010, 36px 45px #80d010, 39px 45px #80d010, 42px 45px #80d010, 45px 45px #80d010;
  display: relative;
  float: left;
  margin-right: 60px;
  background: #80d010;
  width: 3px;
  height: 3px; }

.grassTile2 {
  width: 48px;
  height: 48px;
  background: #80d010; }

.grassTile2::after {
  content: "";
  box-shadow: 15px 0px #00a800, 39px 0px #00a800, 6px 3px #00a800, 30px 3px #00a800, 18px 9px #00a800, 42px 9px #00a800, 3px 12px #00a800, 27px 12px #00a800, 9px 18px #00a800, 33px 18px #00a800, 15px 24px #00a800, 39px 24px #00a800, 6px 27px #00a800, 30px 27px #00a800, 18px 33px #00a800, 42px 33px #00a800, 3px 36px #00a800, 27px 36px #00a800, 9px 42px #00a800, 33px 42px #00a800;
  display: block;
  background: #80d010;
  width: 3px;
  height: 3px; }

.treeTile {
  width: 48px;
  height: 48px;
  background: #80d010; }

.treeTile::after {
  content: "";
  display: block;
  background: #80d010;
  width: 3px;
  height: 3px;
  box-shadow: 9px 0px black, 12px 0px #00a800, 33px 0px black, 36px 0px #00a800, 6px 3px black, 9px 3px #00a800, 12px 3px #00a800, 15px 3px #00a800, 30px 3px black, 33px 3px #00a800, 36px 3px #00a800, 39px 3px #00a800, 3px 6px black, 6px 6px #00a800, 9px 6px #00a800, 12px 6px #80d010, 15px 6px #00a800, 18px 6px #00a800, 27px 6px black, 30px 6px #00a800, 33px 6px #00a800, 36px 6px #80d010, 39px 6px #00a800, 42px 6px #00a800, 3px 9px black, 6px 9px #00a800, 9px 9px #00a800, 12px 9px #00a800, 15px 9px #00a800, 18px 9px #00a800, 27px 9px black, 30px 9px #00a800, 33px 9px #00a800, 36px 9px #00a800, 39px 9px #00a800, 42px 9px #00a800, 0px 12px black, 3px 12px #00a800, 6px 12px #00a800, 9px 12px black, 12px 12px #00a800, 15px 12px #00a800, 18px 12px #00a800, 21px 12px #00a800, 24px 12px black, 27px 12px #00a800, 30px 12px #00a800, 33px 12px black, 36px 12px #00a800, 39px 12px #00a800, 42px 12px #00a800, 45px 12px #00a800, 0px 15px #00a800, 3px 15px black, 6px 15px #00a800, 9px 15px #00a800, 12px 15px #00a800, 15px 15px #80d010, 18px 15px #00a800, 21px 15px #00a800, 24px 15px #00a800, 27px 15px black, 30px 15px #00a800, 33px 15px #00a800, 36px 15px #00a800, 39px 15px #80d010, 42px 15px #00a800, 45px 15px #00a800, 0px 18px black, 3px 18px #00a800, 6px 18px #00a800, 9px 18px #00a800, 12px 18px #00a800, 15px 18px #00a800, 18px 18px #00a800, 21px 18px #00a800, 24px 18px black, 27px 18px #00a800, 30px 18px #00a800, 33px 18px #00a800, 36px 18px #00a800, 39px 18px #00a800, 42px 18px #00a800, 45px 18px #00a800, 0px 21px #00a800, 3px 21px black, 6px 21px #00a800, 9px 21px #00a800, 12px 21px #00a800, 15px 21px #00a800, 18px 21px #80d010, 21px 21px #00a800, 24px 21px #00a800, 27px 21px black, 30px 21px #00a800, 33px 21px #00a800, 36px 21px #00a800, 39px 21px #00a800, 42px 21px #80d010, 45px 21px #00a800, 0px 24px black, 3px 24px #00a800, 6px 24px black, 9px 24px #00a800, 12px 24px #00a800, 15px 24px #00a800, 18px 24px #00a800, 21px 24px #00a800, 24px 24px black, 27px 24px #00a800, 30px 24px black, 33px 24px #00a800, 36px 24px #00a800, 39px 24px #00a800, 42px 24px #00a800, 45px 24px #00a800, 0px 27px #00a800, 3px 27px black, 6px 27px #00a800, 9px 27px #00a800, 12px 27px #00a800, 15px 27px #00a800, 18px 27px #fc9838, 21px 27px #00a800, 24px 27px #00a800, 27px 27px black, 30px 27px #00a800, 33px 27px #00a800, 36px 27px #00a800, 39px 27px #00a800, 42px 27px #fc9838, 45px 27px #00a800, 0px 30px black, 3px 30px #00a800, 6px 30px black, 9px 30px #00a800, 12px 30px #00a800, 15px 30px #00a800, 18px 30px #00a800, 21px 30px black, 24px 30px black, 27px 30px #00a800, 30px 30px black, 33px 30px #00a800, 36px 30px #00a800, 39px 30px #00a800, 42px 30px #00a800, 45px 30px black, 3px 33px black, 6px 33px #fc9838, 9px 33px #fc9838, 12px 33px #00a800, 15px 33px #fc9838, 18px 33px black, 27px 33px black, 30px 33px #fc9838, 33px 33px #fc9838, 36px 33px #00a800, 39px 33px #fc9838, 42px 33px black, 6px 36px black, 9px 36px #fc9838, 12px 36px #fc9838, 30px 36px black, 33px 36px #fc9838, 36px 36px #fc9838, 0px 39px black, 3px 39px black, 6px 39px black, 9px 39px #fc9838, 12px 39px #fc9838, 15px 39px black, 24px 39px black, 27px 39px black, 30px 39px black, 33px 39px #fc9838, 36px 39px #fc9838, 39px 39px black, 0px 42px black, 3px 42px black, 6px 42px #fc9838, 9px 42px black, 12px 42px #fc9838, 15px 42px #fc9838, 18px 42px black, 24px 42px black, 27px 42px black, 30px 42px #fc9838, 33px 42px black, 36px 42px #fc9838, 39px 42px #fc9838, 42px 42px black, 3px 45px black, 6px 45px black, 9px 45px black, 12px 45px black, 15px 45px black, 27px 45px black, 30px 45px black, 33px 45px black, 36px 45px black, 39px 45px black; }

.hillTile {
  width: 48px;
  height: 48px;
  background: #80d010; }

.hillTile::after {
  content: "";
  display: block;
  background: #80d010;
  width: 3px;
  height: 3px;
  box-shadow: 39px 0px black, 6px 3px black, 30px 3px black, 18px 9px black, 21px 9px black, 24px 9px black, 27px 9px black, 42px 9px black, 3px 12px black, 15px 12px black, 30px 12px black, 12px 15px black, 18px 15px #fcd8a8, 27px 15px #fcd8a8, 33px 15px black, 9px 18px black, 15px 18px #fcd8a8, 18px 18px #fcd8a8, 30px 18px #fcd8a8, 36px 18px black, 6px 21px black, 12px 21px #fcd8a8, 15px 21px #fcd8a8, 30px 21px #fcd8a8, 33px 21px #fcd8a8, 39px 21px black, 3px 24px black, 9px 24px #fcd8a8, 12px 24px black, 15px 24px #fcd8a8, 21px 24px #fcd8a8, 36px 24px #fcd8a8, 42px 24px black, 0px 27px black, 3px 27px #fcd8a8, 6px 27px #fcd8a8, 9px 27px black, 12px 27px #fcd8a8, 21px 27px #fcd8a8, 24px 27px #fcd8a8, 27px 27px black, 33px 27px #fcd8a8, 36px 27px #fcd8a8, 39px 27px #fcd8a8, 45px 27px black, 0px 30px #fcd8a8, 3px 30px black, 6px 30px #fcd8a8, 9px 30px black, 12px 30px #fcd8a8, 18px 30px black, 21px 30px #fcd8a8, 24px 30px #fcd8a8, 27px 30px #fcd8a8, 30px 30px black, 36px 30px #fcd8a8, 39px 30px #fcd8a8, 42px 30px #fcd8a8, 0px 33px black, 3px 33px #fcd8a8, 6px 33px black, 9px 33px #fcd8a8, 15px 33px black, 18px 33px #fcd8a8, 21px 33px #fcd8a8, 24px 33px black, 27px 33px #fcd8a8, 30px 33px black, 33px 33px black, 39px 33px black, 42px 33px #fcd8a8, 45px 33px #fcd8a8, 0px 36px black, 3px 36px black, 6px 36px black, 12px 36px black, 15px 36px black, 18px 36px #fcd8a8, 21px 36px black, 24px 36px #fcd8a8, 27px 36px #fcd8a8, 30px 36px #fcd8a8, 33px 36px black, 36px 36px black, 39px 36px #fcd8a8, 42px 36px #fcd8a8, 45px 36px black, 6px 39px black, 9px 39px black, 12px 39px black, 18px 39px black, 21px 39px black, 24px 39px black, 27px 39px #fcd8a8, 30px 39px black, 33px 39px #fcd8a8, 36px 39px black, 39px 39px black, 42px 39px black, 24px 42px black, 27px 42px black, 30px 42px black, 33px 42px black; }

.waterTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.waterTile::after {
  content: "";
  display: block;
  background: #0070ec;
  width: 3px;
  height: 3px;
  box-shadow: 30px 3px #fcfcfc, 33px 3px #fcfcfc, 27px 6px #fcfcfc, 33px 6px #fcfcfc, 36px 6px #fcfcfc, 6px 9px #fcfcfc, 9px 9px #fcfcfc, 12px 9px #fcfcfc, 42px 9px #fcfcfc, 3px 12px #fcfcfc, 6px 12px #fcfcfc, 12px 12px #fcfcfc, 15px 12px #fcfcfc, 21px 15px #fcfcfc, 36px 15px #fcfcfc, 33px 18px #fcfcfc, 39px 18px #fcfcfc, 6px 27px #fcfcfc, 9px 27px #fcfcfc, 3px 30px #fcfcfc, 9px 30px #fcfcfc, 12px 30px #fcfcfc, 18px 33px #fcfcfc, 30px 33px #fcfcfc, 33px 33px #fcfcfc, 36px 33px #fcfcfc, 27px 36px #fcfcfc, 30px 36px #fcfcfc, 36px 36px #fcfcfc, 39px 36px #fcfcfc, 12px 39px #fcfcfc, 45px 39px #fcfcfc, 9px 42px #fcfcfc, 15px 42px #fcfcfc; }

.townTile {
  width: 48px;
  height: 48px;
  background: black; }

.townTile::after {
  content: "";
  display: block;
  background: black;
  width: 3px;
  height: 3px;
  box-shadow: 30px 3px #bcbcbc, 15px 6px #bcbcbc, 27px 6px #bcbcbc, 30px 6px #bcbcbc, 33px 6px #bcbcbc, 15px 9px #bcbcbc, 18px 9px #bcbcbc, 24px 9px #bcbcbc, 27px 9px #bcbcbc, 30px 9px #bcbcbc, 33px 9px #bcbcbc, 36px 9px #bcbcbc, 12px 12px #bcbcbc, 15px 12px #bcbcbc, 18px 12px #bcbcbc, 24px 12px #fcfcfc, 27px 12px #fcfcfc, 30px 12px #fcfcfc, 33px 12px #fcfcfc, 36px 12px #fcfcfc, 6px 15px #bcbcbc, 12px 15px #bcbcbc, 15px 15px #bcbcbc, 18px 15px #bcbcbc, 24px 15px #fcfcfc, 27px 15px #0070ec, 30px 15px #fcfcfc, 33px 15px #0070ec, 36px 15px #fcfcfc, 42px 15px #bcbcbc, 0px 18px #bcbcbc, 6px 18px #bcbcbc, 9px 18px #bcbcbc, 15px 18px #bcbcbc, 18px 18px #bcbcbc, 24px 18px #fcfcfc, 27px 18px #fcfcfc, 30px 18px #fcfcfc, 33px 18px #fcfcfc, 36px 18px #fcfcfc, 42px 18px #bcbcbc, 45px 18px #bcbcbc, 0px 21px #fcfcfc, 6px 21px #fcfcfc, 9px 21px #fcfcfc, 15px 21px #bcbcbc, 18px 21px #bcbcbc, 24px 21px #fcfcfc, 27px 21px #fcfcfc, 42px 21px #bcbcbc, 45px 21px #bcbcbc, 0px 24px #fcfcfc, 3px 24px #fcfcfc, 6px 24px #fcfcfc, 9px 24px #fcfcfc, 15px 24px #bcbcbc, 18px 24px #bcbcbc, 24px 24px #fcfcfc, 30px 24px #bcbcbc, 33px 24px #bcbcbc, 36px 24px #bcbcbc, 39px 24px #bcbcbc, 45px 24px #bcbcbc, 0px 27px #fcfcfc, 3px 27px #0070ec, 6px 27px #fcfcfc, 9px 27px #fcfcfc, 12px 27px #fcfcfc, 18px 27px #bcbcbc, 27px 27px #bcbcbc, 30px 27px #bcbcbc, 33px 27px #bcbcbc, 36px 27px #bcbcbc, 39px 27px #bcbcbc, 42px 27px #bcbcbc, 0px 30px #fcfcfc, 3px 30px #0070ec, 6px 30px #fcfcfc, 9px 30px #fcfcfc, 12px 30px #fcfcfc, 15px 30px #fcfcfc, 21px 30px #bcbcbc, 24px 30px #bcbcbc, 27px 30px #bcbcbc, 30px 30px #bcbcbc, 33px 30px #bcbcbc, 36px 30px #bcbcbc, 39px 30px #bcbcbc, 42px 30px #bcbcbc, 45px 30px #bcbcbc, 0px 33px #fcfcfc, 3px 33px #fcfcfc, 6px 33px #fcfcfc, 9px 33px #fcfcfc, 12px 33px #fcfcfc, 15px 33px #fcfcfc, 21px 33px #fcfcfc, 24px 33px #fcfcfc, 27px 33px #fcfcfc, 30px 33px #fcfcfc, 33px 33px #fcfcfc, 36px 33px #fcfcfc, 39px 33px #fcfcfc, 42px 33px #fcfcfc, 45px 33px #fcfcfc, 0px 36px #fcfcfc, 3px 36px #fcfcfc, 6px 36px #bcbcbc, 12px 36px #fcfcfc, 15px 36px #fcfcfc, 21px 36px #fcfcfc, 24px 36px #fcfcfc, 27px 36px #fcfcfc, 30px 36px #fcfcfc, 33px 36px #fcfcfc, 36px 36px #fcfcfc, 39px 36px #fcfcfc, 42px 36px #fcfcfc, 45px 36px #fcfcfc, 0px 39px #fcfcfc, 3px 39px #fcfcfc, 6px 39px #bcbcbc, 12px 39px #fcfcfc, 15px 39px #fcfcfc, 21px 39px #fcfcfc, 24px 39px #fcfcfc, 27px 39px #0070ec, 30px 39px #fcfcfc, 33px 39px #0070ec, 36px 39px #fcfcfc, 39px 39px #bcbcbc, 45px 39px #fcfcfc, 0px 42px #fcfcfc, 3px 42px #fcfcfc, 6px 42px #bcbcbc, 12px 42px #fcfcfc, 15px 42px #fcfcfc, 21px 42px #fcfcfc, 24px 42px #fcfcfc, 27px 42px #fcfcfc, 30px 42px #fcfcfc, 33px 42px #fcfcfc, 36px 42px #fcfcfc, 39px 42px #bcbcbc, 45px 42px #fcfcfc; }

.nBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.nBeachTile::after {
  content: "";
  display: block;
  background: #fcfcfc;
  width: 3px;
  height: 3px;
  box-shadow: 3px 0px #bcbcbc, 6px 0px #bcbcbc, 9px 0px #fcfcfc, 12px 0px #bcbcbc, 15px 0px #bcbcbc, 18px 0px #bcbcbc, 21px 0px #fcfcfc, 24px 0px #bcbcbc, 27px 0px #bcbcbc, 30px 0px #fcfcfc, 33px 0px #fcfcfc, 36px 0px #bcbcbc, 39px 0px #bcbcbc, 42px 0px #bcbcbc, 45px 0px #fcfcfc, 0px 3px #bcbcbc, 3px 3px #fcfcfc, 6px 3px #fcfcfc, 9px 3px #bcbcbc, 12px 3px #fcfcfc, 15px 3px #fcfcfc, 18px 3px #bcbcbc, 21px 3px #bcbcbc, 24px 3px #fcfcfc, 27px 3px #fcfcfc, 30px 3px #bcbcbc, 33px 3px #bcbcbc, 36px 3px #fcfcfc, 39px 3px #fcfcfc, 42px 3px #fcfcfc, 45px 3px #bcbcbc, 0px 6px #bcbcbc, 3px 6px #bcbcbc, 6px 6px #bcbcbc, 9px 6px #fcfcfc, 12px 6px #bcbcbc, 15px 6px #bcbcbc, 18px 6px #fcfcfc, 21px 6px #fcfcfc, 24px 6px #bcbcbc, 27px 6px #bcbcbc, 30px 6px #fcfcfc, 33px 6px #fcfcfc, 36px 6px #bcbcbc, 39px 6px #bcbcbc, 42px 6px #bcbcbc, 45px 6px #bcbcbc, 6px 9px #bcbcbc, 9px 9px #bcbcbc, 12px 9px #fcfcfc, 15px 9px #fcfcfc, 18px 9px #bcbcbc, 21px 9px #bcbcbc, 24px 9px #bcbcbc, 30px 9px #bcbcbc, 33px 9px #bcbcbc, 36px 9px #bcbcbc, 42px 9px #fcfcfc, 12px 12px #bcbcbc, 15px 12px #bcbcbc, 18px 12px #bcbcbc, 3px 15px #fcfcfc, 27px 15px #fcfcfc, 18px 18px #fcfcfc, 39px 18px #fcfcfc, 6px 27px #fcfcfc, 9px 27px #fcfcfc, 3px 30px #fcfcfc, 9px 30px #fcfcfc, 12px 30px #fcfcfc, 18px 33px #fcfcfc, 30px 33px #fcfcfc, 33px 33px #fcfcfc, 36px 33px #fcfcfc, 27px 36px #fcfcfc, 30px 36px #fcfcfc, 36px 36px #fcfcfc, 39px 36px #fcfcfc, 12px 39px #fcfcfc, 45px 39px #fcfcfc, 9px 42px #fcfcfc, 15px 42px #fcfcfc; }

.nwBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.nwBeachTile::after {
  content: "";
  display: block;
  background: #bcbcbc;
  width: 3px;
  height: 3px;
  box-shadow: 3px 0px #bcbcbc, 6px 0px #fcfcfc, 9px 0px #bcbcbc, 12px 0px #fcfcfc, 15px 0px #fcfcfc, 18px 0px #bcbcbc, 21px 0px #fcfcfc, 24px 0px #bcbcbc, 27px 0px #bcbcbc, 30px 0px #fcfcfc, 33px 0px #fcfcfc, 36px 0px #bcbcbc, 39px 0px #bcbcbc, 42px 0px #bcbcbc, 45px 0px #fcfcfc, 0px 3px #bcbcbc, 3px 3px #fcfcfc, 6px 3px #fcfcfc, 9px 3px #fcfcfc, 12px 3px #fcfcfc, 15px 3px #bcbcbc, 18px 3px #fcfcfc, 21px 3px #bcbcbc, 24px 3px #fcfcfc, 27px 3px #fcfcfc, 30px 3px #bcbcbc, 33px 3px #bcbcbc, 36px 3px #fcfcfc, 39px 3px #fcfcfc, 42px 3px #fcfcfc, 45px 3px #bcbcbc, 0px 6px #fcfcfc, 3px 6px #fcfcfc, 6px 6px #fcfcfc, 9px 6px #bcbcbc, 12px 6px #bcbcbc, 15px 6px #bcbcbc, 18px 6px #bcbcbc, 21px 6px #bcbcbc, 24px 6px #bcbcbc, 27px 6px #bcbcbc, 30px 6px #fcfcfc, 33px 6px #fcfcfc, 36px 6px #bcbcbc, 39px 6px #bcbcbc, 42px 6px #bcbcbc, 45px 6px #bcbcbc, 0px 9px #bcbcbc, 3px 9px #fcfcfc, 6px 9px #bcbcbc, 9px 9px #bcbcbc, 12px 9px #bcbcbc, 21px 9px #bcbcbc, 24px 9px #bcbcbc, 30px 9px #bcbcbc, 33px 9px #bcbcbc, 36px 9px #bcbcbc, 42px 9px #fcfcfc, 0px 12px #fcfcfc, 3px 12px #fcfcfc, 6px 12px #bcbcbc, 9px 12px #bcbcbc, 18px 12px #fcfcfc, 0px 15px #fcfcfc, 3px 15px #bcbcbc, 6px 15px #bcbcbc, 27px 15px #fcfcfc, 0px 18px #bcbcbc, 3px 18px #fcfcfc, 6px 18px #bcbcbc, 12px 18px #fcfcfc, 39px 18px #fcfcfc, 0px 21px #fcfcfc, 3px 21px #bcbcbc, 6px 21px #bcbcbc, 9px 21px #bcbcbc, 21px 21px #fcfcfc, 0px 24px #bcbcbc, 3px 24px #fcfcfc, 6px 24px #bcbcbc, 9px 24px #bcbcbc, 0px 27px #bcbcbc, 3px 27px #fcfcfc, 6px 27px #bcbcbc, 15px 27px #fcfcfc, 0px 30px #fcfcfc, 3px 30px #bcbcbc, 6px 30px #fcfcfc, 9px 30px #bcbcbc, 0px 33px #fcfcfc, 3px 33px #bcbcbc, 6px 33px #fcfcfc, 9px 33px #bcbcbc, 30px 33px #fcfcfc, 33px 33px #fcfcfc, 36px 33px #fcfcfc, 0px 36px #bcbcbc, 3px 36px #fcfcfc, 6px 36px #bcbcbc, 9px 36px #bcbcbc, 27px 36px #fcfcfc, 30px 36px #fcfcfc, 36px 36px #fcfcfc, 39px 36px #fcfcfc, 0px 39px #bcbcbc, 3px 39px #fcfcfc, 6px 39px #bcbcbc, 18px 39px #fcfcfc, 45px 39px #fcfcfc, 0px 42px #bcbcbc, 3px 42px #fcfcfc, 6px 42px #bcbcbc, 9px 42px #fcfcfc, 0px 45px #fcfcfc, 3px 45px #bcbcbc, 6px 45px #bcbcbc; }

.castleTile {
  width: 48px;
  height: 48px;
  background: black; }

.castleTile::after {
  content: "";
  display: block;
  background: black;
  width: 3px;
  height: 3px;
  box-shadow: 24px 0px #fcfcfc, 27px 0px #fcfcfc, 24px 3px #fcfcfc, 27px 3px #fcfcfc, 30px 3px #fcfcfc, 9px 6px #fcfcfc, 12px 6px #fcfcfc, 24px 6px #fcfcfc, 39px 6px #fcfcfc, 42px 6px #fcfcfc, 9px 9px #fcfcfc, 12px 9px #fcfcfc, 15px 9px #fcfcfc, 24px 9px #bcbcbc, 27px 9px #bcbcbc, 39px 9px #fcfcfc, 42px 9px #fcfcfc, 45px 9px #fcfcfc, 9px 12px #fcfcfc, 21px 12px #bcbcbc, 24px 12px #fcfcfc, 27px 12px #fcfcfc, 39px 12px #fcfcfc, 9px 15px #bcbcbc, 12px 15px #bcbcbc, 21px 15px #bcbcbc, 24px 15px #bcbcbc, 27px 15px #fcfcfc, 36px 15px #bcbcbc, 39px 15px #bcbcbc, 6px 18px #bcbcbc, 9px 18px #fcfcfc, 12px 18px #fcfcfc, 21px 18px #fcfcfc, 24px 18px #fcfcfc, 27px 18px #fcfcfc, 36px 18px #bcbcbc, 39px 18px #fcfcfc, 42px 18px #fcfcfc, 6px 21px #bcbcbc, 9px 21px #bcbcbc, 12px 21px #fcfcfc, 15px 21px #fcfcfc, 18px 21px #fcfcfc, 21px 21px #fcfcfc, 24px 21px #fcfcfc, 27px 21px #fcfcfc, 30px 21px #fcfcfc, 33px 21px #fcfcfc, 36px 21px #fcfcfc, 39px 21px #fcfcfc, 42px 21px #fcfcfc, 6px 24px #bcbcbc, 15px 24px #bcbcbc, 18px 24px #bcbcbc, 30px 24px #bcbcbc, 33px 24px #bcbcbc, 42px 24px #bcbcbc, 3px 27px #bcbcbc, 6px 27px #bcbcbc, 9px 27px #fcfcfc, 12px 27px #fcfcfc, 15px 27px #fcfcfc, 18px 27px #fcfcfc, 21px 27px #bcbcbc, 24px 27px #bcbcbc, 27px 27px #bcbcbc, 30px 27px #fcfcfc, 33px 27px #fcfcfc, 36px 27px #fcfcfc, 39px 27px #fcfcfc, 42px 27px #fcfcfc, 45px 27px #fcfcfc, 3px 30px #bcbcbc, 6px 30px #0070ec, 9px 30px #0070ec, 12px 30px #fcfcfc, 15px 30px #fcfcfc, 18px 30px #bcbcbc, 30px 30px #bcbcbc, 33px 30px #fcfcfc, 36px 30px #fcfcfc, 39px 30px #0070ec, 42px 30px #0070ec, 45px 30px #fcfcfc, 3px 33px #bcbcbc, 6px 33px #0070ec, 9px 33px #0070ec, 12px 33px #fcfcfc, 15px 33px #bcbcbc, 21px 33px #bcbcbc, 24px 33px #bcbcbc, 27px 33px #bcbcbc, 33px 33px #bcbcbc, 36px 33px #fcfcfc, 39px 33px #0070ec, 42px 33px #0070ec, 45px 33px #fcfcfc, 3px 36px #bcbcbc, 6px 36px #fcfcfc, 9px 36px #fcfcfc, 12px 36px #fcfcfc, 15px 36px #bcbcbc, 21px 36px #bcbcbc, 24px 36px #bcbcbc, 27px 36px #bcbcbc, 33px 36px #bcbcbc, 36px 36px #fcfcfc, 39px 36px #fcfcfc, 42px 36px #fcfcfc, 45px 36px #fcfcfc, 3px 39px #bcbcbc, 6px 39px #fcfcfc, 9px 39px #fcfcfc, 12px 39px #fcfcfc, 15px 39px #bcbcbc, 21px 39px #bcbcbc, 24px 39px #bcbcbc, 27px 39px #bcbcbc, 33px 39px #bcbcbc, 36px 39px #fcfcfc, 39px 39px #fcfcfc, 42px 39px #fcfcfc, 45px 39px #fcfcfc, 3px 42px #bcbcbc, 6px 42px #bcbcbc, 9px 42px #bcbcbc, 12px 42px #bcbcbc, 15px 42px #bcbcbc, 21px 42px #bcbcbc, 24px 42px #bcbcbc, 27px 42px #bcbcbc, 33px 42px #bcbcbc, 36px 42px #bcbcbc, 39px 42px #bcbcbc, 42px 42px #bcbcbc, 45px 42px #bcbcbc; }

.nwsBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.nwsBeachTile::after {
  content: "";
  display: block;
  background: #bcbcbc;
  width: 3px;
  height: 3px;
  box-shadow: 3px 0px #bcbcbc, 6px 0px #fcfcfc, 9px 0px #bcbcbc, 12px 0px #fcfcfc, 15px 0px #fcfcfc, 18px 0px #bcbcbc, 21px 0px #fcfcfc, 24px 0px #bcbcbc, 27px 0px #bcbcbc, 30px 0px #fcfcfc, 33px 0px #fcfcfc, 36px 0px #bcbcbc, 39px 0px #bcbcbc, 42px 0px #bcbcbc, 45px 0px #fcfcfc, 0px 3px #bcbcbc, 3px 3px #fcfcfc, 6px 3px #fcfcfc, 9px 3px #fcfcfc, 12px 3px #fcfcfc, 15px 3px #bcbcbc, 18px 3px #fcfcfc, 21px 3px #bcbcbc, 24px 3px #fcfcfc, 27px 3px #fcfcfc, 30px 3px #bcbcbc, 33px 3px #bcbcbc, 36px 3px #fcfcfc, 39px 3px #fcfcfc, 42px 3px #fcfcfc, 45px 3px #bcbcbc, 0px 6px #fcfcfc, 3px 6px #fcfcfc, 6px 6px #fcfcfc, 9px 6px #bcbcbc, 12px 6px #bcbcbc, 15px 6px #bcbcbc, 18px 6px #bcbcbc, 21px 6px #bcbcbc, 24px 6px #bcbcbc, 27px 6px #bcbcbc, 30px 6px #fcfcfc, 33px 6px #fcfcfc, 36px 6px #bcbcbc, 39px 6px #bcbcbc, 42px 6px #bcbcbc, 45px 6px #bcbcbc, 0px 9px #bcbcbc, 3px 9px #fcfcfc, 6px 9px #bcbcbc, 9px 9px #bcbcbc, 12px 9px #bcbcbc, 21px 9px #bcbcbc, 24px 9px #bcbcbc, 30px 9px #bcbcbc, 33px 9px #bcbcbc, 36px 9px #bcbcbc, 42px 9px #fcfcfc, 0px 12px #fcfcfc, 3px 12px #fcfcfc, 6px 12px #bcbcbc, 9px 12px #bcbcbc, 18px 12px #fcfcfc, 0px 15px #fcfcfc, 3px 15px #bcbcbc, 6px 15px #bcbcbc, 27px 15px #fcfcfc, 0px 18px #bcbcbc, 3px 18px #fcfcfc, 6px 18px #bcbcbc, 12px 18px #fcfcfc, 39px 18px #fcfcfc, 0px 21px #fcfcfc, 3px 21px #bcbcbc, 6px 21px #bcbcbc, 9px 21px #bcbcbc, 21px 21px #fcfcfc, 0px 24px #bcbcbc, 3px 24px #fcfcfc, 6px 24px #bcbcbc, 9px 24px #bcbcbc, 0px 27px #bcbcbc, 3px 27px #fcfcfc, 6px 27px #bcbcbc, 27px 27px #fcfcfc, 0px 30px #fcfcfc, 3px 30px #bcbcbc, 6px 30px #bcbcbc, 15px 30px #fcfcfc, 42px 30px #fcfcfc, 0px 33px #fcfcfc, 3px 33px #fcfcfc, 6px 33px #bcbcbc, 9px 33px #bcbcbc, 27px 33px #bcbcbc, 30px 33px #bcbcbc, 33px 33px #bcbcbc, 0px 36px #bcbcbc, 3px 36px #fcfcfc, 6px 36px #bcbcbc, 9px 36px #bcbcbc, 12px 36px #bcbcbc, 21px 36px #bcbcbc, 24px 36px #bcbcbc, 27px 36px #bcbcbc, 30px 36px #fcfcfc, 33px 36px #fcfcfc, 36px 36px #bcbcbc, 39px 36px #bcbcbc, 0px 39px #fcfcfc, 3px 39px #fcfcfc, 6px 39px #fcfcfc, 9px 39px #bcbcbc, 12px 39px #bcbcbc, 15px 39px #bcbcbc, 18px 39px #bcbcbc, 21px 39px #bcbcbc, 24px 39px #fcfcfc, 27px 39px #fcfcfc, 30px 39px #bcbcbc, 33px 39px #bcbcbc, 36px 39px #fcfcfc, 39px 39px #bcbcbc, 42px 39px #bcbcbc, 45px 39px #bcbcbc, 0px 42px #bcbcbc, 3px 42px #fcfcfc, 6px 42px #fcfcfc, 9px 42px #fcfcfc, 12px 42px #fcfcfc, 15px 42px #bcbcbc, 18px 42px #fcfcfc, 21px 42px #fcfcfc, 24px 42px #bcbcbc, 27px 42px #bcbcbc, 30px 42px #fcfcfc, 33px 42px #fcfcfc, 36px 42px #bcbcbc, 39px 42px #fcfcfc, 42px 42px #fcfcfc, 45px 42px #bcbcbc, 0px 45px #bcbcbc, 3px 45px #bcbcbc, 6px 45px #fcfcfc, 9px 45px #bcbcbc, 12px 45px #fcfcfc, 15px 45px #fcfcfc, 18px 45px #bcbcbc, 21px 45px #bcbcbc, 24px 45px #fcfcfc, 27px 45px #bcbcbc, 30px 45px #bcbcbc, 33px 45px #bcbcbc, 36px 45px #fcfcfc, 39px 45px #bcbcbc, 42px 45px #bcbcbc, 45px 45px #fcfcfc; }

.wBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.wBeachTile::after {
  content: "";
  display: block;
  background: #fcfcfc;
  width: 3px;
  height: 3px;
  box-shadow: 3px 0px #bcbcbc, 6px 0px #bcbcbc, 0px 3px #bcbcbc, 3px 3px #fcfcfc, 6px 3px #bcbcbc, 15px 3px #fcfcfc, 30px 3px #fcfcfc, 33px 3px #fcfcfc, 0px 6px #bcbcbc, 3px 6px #fcfcfc, 6px 6px #bcbcbc, 9px 6px #bcbcbc, 27px 6px #fcfcfc, 33px 6px #fcfcfc, 36px 6px #fcfcfc, 0px 9px #fcfcfc, 3px 9px #bcbcbc, 6px 9px #fcfcfc, 9px 9px #bcbcbc, 42px 9px #fcfcfc, 0px 12px #bcbcbc, 3px 12px #fcfcfc, 6px 12px #bcbcbc, 9px 12px #fcfcfc, 12px 12px #bcbcbc, 0px 15px #bcbcbc, 3px 15px #fcfcfc, 6px 15px #bcbcbc, 9px 15px #fcfcfc, 12px 15px #bcbcbc, 36px 15px #fcfcfc, 0px 18px #bcbcbc, 3px 18px #bcbcbc, 6px 18px #fcfcfc, 9px 18px #bcbcbc, 12px 18px #bcbcbc, 18px 18px #fcfcfc, 33px 18px #fcfcfc, 39px 18px #fcfcfc, 0px 21px #fcfcfc, 3px 21px #bcbcbc, 6px 21px #fcfcfc, 9px 21px #bcbcbc, 0px 24px #bcbcbc, 3px 24px #fcfcfc, 6px 24px #bcbcbc, 9px 24px #bcbcbc, 0px 27px #bcbcbc, 3px 27px #fcfcfc, 6px 27px #bcbcbc, 15px 27px #fcfcfc, 0px 30px #fcfcfc, 3px 30px #bcbcbc, 6px 30px #fcfcfc, 9px 30px #bcbcbc, 0px 33px #fcfcfc, 3px 33px #bcbcbc, 6px 33px #fcfcfc, 9px 33px #bcbcbc, 30px 33px #fcfcfc, 33px 33px #fcfcfc, 36px 33px #fcfcfc, 0px 36px #bcbcbc, 3px 36px #fcfcfc, 6px 36px #bcbcbc, 9px 36px #bcbcbc, 27px 36px #fcfcfc, 30px 36px #fcfcfc, 36px 36px #fcfcfc, 39px 36px #fcfcfc, 0px 39px #bcbcbc, 3px 39px #fcfcfc, 6px 39px #bcbcbc, 18px 39px #fcfcfc, 45px 39px #fcfcfc, 0px 42px #bcbcbc, 3px 42px #fcfcfc, 6px 42px #bcbcbc, 9px 42px #fcfcfc, 0px 45px #fcfcfc, 3px 45px #bcbcbc, 6px 45px #bcbcbc; }

.eBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.eBeachTile::after {
  content: "";
  display: block;
  background: #0070ec;
  width: 3px;
  height: 3px;
  box-shadow: 39px 0px #bcbcbc, 42px 0px #bcbcbc, 45px 0px #fcfcfc, 36px 3px #fcfcfc, 39px 3px #bcbcbc, 42px 3px #fcfcfc, 45px 3px #bcbcbc, 27px 6px #fcfcfc, 39px 6px #bcbcbc, 42px 6px #fcfcfc, 45px 6px #bcbcbc, 6px 9px #fcfcfc, 9px 9px #fcfcfc, 12px 9px #fcfcfc, 36px 9px #bcbcbc, 39px 9px #bcbcbc, 42px 9px #fcfcfc, 45px 9px #bcbcbc, 3px 12px #fcfcfc, 6px 12px #fcfcfc, 12px 12px #fcfcfc, 15px 12px #fcfcfc, 36px 12px #bcbcbc, 39px 12px #fcfcfc, 42px 12px #bcbcbc, 45px 12px #fcfcfc, 21px 15px #fcfcfc, 36px 15px #bcbcbc, 39px 15px #fcfcfc, 42px 15px #bcbcbc, 45px 15px #fcfcfc, 30px 18px #fcfcfc, 39px 18px #bcbcbc, 42px 18px #fcfcfc, 45px 18px #bcbcbc, 36px 21px #bcbcbc, 39px 21px #bcbcbc, 42px 21px #fcfcfc, 45px 21px #bcbcbc, 36px 24px #bcbcbc, 39px 24px #fcfcfc, 42px 24px #bcbcbc, 45px 24px #fcfcfc, 6px 27px #fcfcfc, 9px 27px #fcfcfc, 27px 27px #fcfcfc, 33px 27px #bcbcbc, 36px 27px #bcbcbc, 39px 27px #fcfcfc, 42px 27px #bcbcbc, 45px 27px #bcbcbc, 3px 30px #fcfcfc, 9px 30px #fcfcfc, 12px 30px #fcfcfc, 33px 30px #bcbcbc, 36px 30px #fcfcfc, 39px 30px #bcbcbc, 42px 30px #fcfcfc, 45px 30px #bcbcbc, 18px 33px #fcfcfc, 33px 33px #bcbcbc, 36px 33px #fcfcfc, 39px 33px #bcbcbc, 42px 33px #fcfcfc, 45px 33px #bcbcbc, 36px 36px #bcbcbc, 39px 36px #fcfcfc, 42px 36px #bcbcbc, 45px 36px #fcfcfc, 12px 39px #fcfcfc, 36px 39px #bcbcbc, 39px 39px #bcbcbc, 42px 39px #fcfcfc, 45px 39px #bcbcbc, 9px 42px #fcfcfc, 15px 42px #fcfcfc, 30px 42px #fcfcfc, 39px 42px #bcbcbc, 42px 42px #fcfcfc, 45px 42px #bcbcbc, 39px 45px #bcbcbc, 42px 45px #bcbcbc, 45px 45px #fcfcfc; }

.seBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.seBeachTile::after {
  content: "";
  display: block;
  background: #0070ec;
  width: 3px;
  height: 3px;
  box-shadow: 39px 0px #bcbcbc, 42px 0px #bcbcbc, 45px 0px #fcfcfc, 36px 3px #fcfcfc, 39px 3px #bcbcbc, 42px 3px #fcfcfc, 45px 3px #bcbcbc, 27px 6px #fcfcfc, 39px 6px #bcbcbc, 42px 6px #fcfcfc, 45px 6px #bcbcbc, 6px 9px #fcfcfc, 9px 9px #fcfcfc, 12px 9px #fcfcfc, 36px 9px #bcbcbc, 39px 9px #bcbcbc, 42px 9px #fcfcfc, 45px 9px #bcbcbc, 3px 12px #fcfcfc, 6px 12px #fcfcfc, 12px 12px #fcfcfc, 15px 12px #fcfcfc, 36px 12px #bcbcbc, 39px 12px #fcfcfc, 42px 12px #bcbcbc, 45px 12px #fcfcfc, 21px 15px #fcfcfc, 36px 15px #bcbcbc, 39px 15px #fcfcfc, 42px 15px #bcbcbc, 45px 15px #fcfcfc, 30px 18px #fcfcfc, 39px 18px #bcbcbc, 42px 18px #fcfcfc, 45px 18px #bcbcbc, 36px 21px #bcbcbc, 39px 21px #bcbcbc, 42px 21px #fcfcfc, 45px 21px #bcbcbc, 24px 24px #fcfcfc, 36px 24px #bcbcbc, 39px 24px #bcbcbc, 42px 24px #bcbcbc, 45px 24px #fcfcfc, 6px 27px #fcfcfc, 33px 27px #fcfcfc, 39px 27px #bcbcbc, 42px 27px #fcfcfc, 45px 27px #bcbcbc, 18px 30px #fcfcfc, 39px 30px #bcbcbc, 42px 30px #bcbcbc, 45px 30px #fcfcfc, 27px 33px #fcfcfc, 36px 33px #bcbcbc, 39px 33px #bcbcbc, 42px 33px #fcfcfc, 45px 33px #fcfcfc, 3px 36px #fcfcfc, 9px 36px #bcbcbc, 12px 36px #bcbcbc, 15px 36px #bcbcbc, 21px 36px #bcbcbc, 24px 36px #bcbcbc, 33px 36px #bcbcbc, 36px 36px #bcbcbc, 39px 36px #bcbcbc, 42px 36px #fcfcfc, 45px 36px #bcbcbc, 0px 39px #bcbcbc, 3px 39px #bcbcbc, 6px 39px #bcbcbc, 9px 39px #bcbcbc, 12px 39px #fcfcfc, 15px 39px #fcfcfc, 18px 39px #bcbcbc, 21px 39px #bcbcbc, 24px 39px #bcbcbc, 27px 39px #bcbcbc, 30px 39px #bcbcbc, 33px 39px #bcbcbc, 36px 39px #bcbcbc, 39px 39px #fcfcfc, 42px 39px #fcfcfc, 45px 39px #fcfcfc, 0px 42px #bcbcbc, 3px 42px #fcfcfc, 6px 42px #fcfcfc, 9px 42px #fcfcfc, 12px 42px #bcbcbc, 15px 42px #bcbcbc, 18px 42px #fcfcfc, 21px 42px #fcfcfc, 24px 42px #bcbcbc, 27px 42px #fcfcfc, 30px 42px #bcbcbc, 33px 42px #fcfcfc, 36px 42px #fcfcfc, 39px 42px #fcfcfc, 42px 42px #fcfcfc, 45px 42px #bcbcbc, 0px 45px #fcfcfc, 3px 45px #bcbcbc, 6px 45px #bcbcbc, 9px 45px #bcbcbc, 12px 45px #fcfcfc, 15px 45px #fcfcfc, 18px 45px #bcbcbc, 21px 45px #bcbcbc, 24px 45px #fcfcfc, 27px 45px #bcbcbc, 30px 45px #fcfcfc, 33px 45px #fcfcfc, 36px 45px #bcbcbc, 39px 45px #fcfcfc, 42px 45px #bcbcbc, 45px 45px #bcbcbc; }

.sBeachTile {
  width: 48px;
  height: 48px;
  background: #0070ec; }

.sBeachTile::after {
  content: "";
  display: block;
  background: #0070ec;
  width: 3px;
  height: 3px;
  box-shadow: 30px 3px #fcfcfc, 33px 3px #fcfcfc, 27px 6px #fcfcfc, 33px 6px #fcfcfc, 36px 6px #fcfcfc, 6px 9px #fcfcfc, 9px 9px #fcfcfc, 12px 9px #fcfcfc, 42px 9px #fcfcfc, 3px 12px #fcfcfc, 6px 12px #fcfcfc, 12px 12px #fcfcfc, 15px 12px #fcfcfc, 21px 15px #fcfcfc, 36px 15px #fcfcfc, 33px 18px #fcfcfc, 39px 18px #fcfcfc, 6px 27px #fcfcfc, 27px 27px #fcfcfc, 18px 30px #fcfcfc, 42px 30px #fcfcfc, 27px 33px #bcbcbc, 30px 33px #bcbcbc, 33px 33px #bcbcbc, 3px 36px #fcfcfc, 9px 36px #bcbcbc, 12px 36px #bcbcbc, 15px 36px #bcbcbc, 21px 36px #bcbcbc, 24px 36px #bcbcbc, 27px 36px #bcbcbc, 30px 36px #fcfcfc, 33px 36px #fcfcfc, 36px 36px #bcbcbc, 39px 36px #bcbcbc, 0px 39px #bcbcbc, 3px 39px #bcbcbc, 6px 39px #bcbcbc, 9px 39px #bcbcbc, 12px 39px #fcfcfc, 15px 39px #fcfcfc, 18px 39px #bcbcbc, 21px 39px #bcbcbc, 24px 39px #fcfcfc, 27px 39px #fcfcfc, 30px 39px #bcbcbc, 33px 39px #bcbcbc, 36px 39px #fcfcfc, 39px 39px #bcbcbc, 42px 39px #bcbcbc, 45px 39px #bcbcbc, 0px 42px #bcbcbc, 3px 42px #fcfcfc, 6px 42px #fcfcfc, 9px 42px #fcfcfc, 12px 42px #bcbcbc, 15px 42px #bcbcbc, 18px 42px #fcfcfc, 21px 42px #fcfcfc, 24px 42px #bcbcbc, 27px 42px #bcbcbc, 30px 42px #fcfcfc, 33px 42px #fcfcfc, 36px 42px #bcbcbc, 39px 42px #fcfcfc, 42px 42px #fcfcfc, 45px 42px #bcbcbc, 0px 45px #fcfcfc, 3px 45px #bcbcbc, 6px 45px #bcbcbc, 9px 45px #bcbcbc, 12px 45px #fcfcfc, 15px 45px #fcfcfc, 18px 45px #bcbcbc, 21px 45px #bcbcbc, 24px 45px #fcfcfc, 27px 45px #bcbcbc, 30px 45px #bcbcbc, 33px 45px #bcbcbc, 36px 45px #fcfcfc, 39px 45px #bcbcbc, 42px 45px #bcbcbc, 45px 45px #fcfcfc; }

.mountainTile {
  width: 48px;
  height: 48px;
  background: #80d010; }

.mountainTile::after {
  content: "";
  display: block;
  background: #80d010;
  width: 3px;
  height: 3px;
  box-shadow: 15px 0px black, 18px 0px #747474, 39px 0px #747474, 6px 3px #747474, 12px 3px black, 15px 3px black, 18px 3px #bcbcbc, 21px 3px black, 30px 3px #747474, 12px 6px black, 15px 6px #747474, 18px 6px #bcbcbc, 21px 6px black, 33px 6px black, 12px 9px black, 15px 9px #747474, 18px 9px #bcbcbc, 21px 9px black, 30px 9px black, 33px 9px #bcbcbc, 36px 9px black, 42px 9px #747474, 3px 12px #747474, 9px 12px black, 12px 12px black, 15px 12px #747474, 18px 12px #bcbcbc, 21px 12px #747474, 27px 12px black, 30px 12px #747474, 33px 12px #bcbcbc, 36px 12px black, 9px 15px black, 12px 15px black, 15px 15px #747474, 18px 15px #bcbcbc, 21px 15px #bcbcbc, 24px 15px black, 27px 15px black, 30px 15px #747474, 33px 15px #bcbcbc, 36px 15px #bcbcbc, 39px 15px black, 9px 18px black, 12px 18px #747474, 15px 18px #747474, 18px 18px #bcbcbc, 21px 18px #747474, 24px 18px black, 27px 18px #747474, 30px 18px #bcbcbc, 33px 18px #747474, 36px 18px #bcbcbc, 39px 18px black, 6px 21px black, 9px 21px black, 12px 21px #747474, 15px 21px #bcbcbc, 18px 21px #747474, 21px 21px #bcbcbc, 24px 21px #747474, 27px 21px #747474, 30px 21px #bcbcbc, 33px 21px #bcbcbc, 36px 21px #747474, 39px 21px #bcbcbc, 42px 21px black, 6px 24px black, 9px 24px black, 12px 24px #747474, 15px 24px #bcbcbc, 18px 24px #bcbcbc, 21px 24px #bcbcbc, 24px 24px #747474, 27px 24px #747474, 30px 24px #bcbcbc, 33px 24px black, 36px 24px #747474, 39px 24px #bcbcbc, 42px 24px black, 6px 27px black, 9px 27px black, 12px 27px #747474, 15px 27px #bcbcbc, 18px 27px #bcbcbc, 21px 27px #747474, 24px 27px #747474, 27px 27px #bcbcbc, 30px 27px #bcbcbc, 33px 27px #bcbcbc, 36px 27px #747474, 39px 27px #747474, 42px 27px #bcbcbc, 45px 27px black, 3px 30px black, 6px 30px black, 9px 30px #747474, 12px 30px #747474, 15px 30px #bcbcbc, 18px 30px black, 21px 30px #747474, 24px 30px #747474, 27px 30px #747474, 30px 30px #bcbcbc, 33px 30px #bcbcbc, 36px 30px black, 39px 30px #747474, 42px 30px #bcbcbc, 45px 30px black, 3px 33px black, 6px 33px black, 9px 33px #747474, 12px 33px #747474, 15px 33px #bcbcbc, 18px 33px black, 21px 33px #747474, 24px 33px #747474, 27px 33px #747474, 30px 33px #747474, 33px 33px #bcbcbc, 36px 33px black, 39px 33px #747474, 42px 33px #747474, 45px 33px black, 0px 36px black, 3px 36px black, 6px 36px black, 9px 36px #747474, 12px 36px #747474, 15px 36px black, 18px 36px black, 21px 36px #bcbcbc, 24px 36px #747474, 27px 36px #747474, 30px 36px #bcbcbc, 33px 36px #bcbcbc, 36px 36px #bcbcbc, 39px 36px black, 42px 36px #747474, 45px 36px #bcbcbc, 0px 39px black, 3px 39px black, 6px 39px #747474, 9px 39px #747474, 12px 39px #747474, 15px 39px black, 18px 39px #bcbcbc, 21px 39px #bcbcbc, 24px 39px #747474, 27px 39px #747474, 30px 39px #bcbcbc, 33px 39px #747474, 36px 39px #bcbcbc, 39px 39px black, 42px 39px #747474, 45px 39px #747474, 3px 42px black, 6px 42px black, 9px 42px #747474, 12px 42px black, 15px 42px black, 18px 42px #747474, 21px 42px #bcbcbc, 24px 42px black, 27px 42px #747474, 30px 42px #747474, 33px 42px #bcbcbc, 36px 42px black, 39px 42px #747474, 42px 42px black, 6px 45px black, 9px 45px black, 12px 45px black, 15px 45px black, 18px 45px black, 21px 45px #747474, 24px 45px black, 27px 45px black, 30px 45px #747474, 33px 45px #747474, 36px 45px #bcbcbc, 39px 45px black; }

.swampTile {
  width: 48px;
  height: 48px;
  background: black; }

.swampTile::after {
  content: "";
  display: block;
  background: black;
  width: 3px;
  height: 3px;
  box-shadow: 9px 0px #80d010, 12px 0px #80d010, 33px 0px #80d010, 36px 0px #80d010, 0px 3px #00a800, 3px 3px #00a800, 24px 3px #00a800, 27px 3px #00a800, 18px 6px #80d010, 21px 6px #80d010, 42px 6px #80d010, 45px 6px #80d010, 3px 9px #00a800, 6px 9px #00a800, 27px 9px #00a800, 30px 9px #00a800, 12px 12px #80d010, 15px 12px #80d010, 36px 12px #80d010, 39px 12px #80d010, 0px 15px #80d010, 21px 15px #80d010, 24px 15px #80d010, 45px 15px #80d010, 6px 18px #00a800, 9px 18px #00a800, 30px 18px #00a800, 33px 18px #00a800, 15px 21px #00a800, 18px 21px #00a800, 39px 21px #00a800, 42px 21px #00a800, 9px 24px #80d010, 12px 24px #80d010, 33px 24px #80d010, 36px 24px #80d010, 0px 27px #00a800, 3px 27px #00a800, 24px 27px #00a800, 27px 27px #00a800, 18px 30px #80d010, 21px 30px #80d010, 42px 30px #80d010, 45px 30px #80d010, 3px 33px #00a800, 6px 33px #00a800, 27px 33px #00a800, 30px 33px #00a800, 12px 36px #80d010, 15px 36px #80d010, 36px 36px #80d010, 39px 36px #80d010, 0px 39px #80d010, 21px 39px #80d010, 24px 39px #80d010, 45px 39px #80d010, 6px 42px #00a800, 9px 42px #00a800, 30px 42px #00a800, 33px 42px #00a800, 15px 45px #00a800, 18px 45px #00a800, 39px 45px #00a800, 42px 45px #00a800; }

.desertTile {
  width: 48px;
  height: 48px;
  background: #fcd8a8; }

.desertTile::after {
  content: "";
  display: block;
  background: #fcd8a8;
  width: 3px;
  height: 3px;
  box-shadow: 15px 3px black, 39px 3px black, 0px 6px black, 24px 6px black, 9px 9px black, 33px 9px black, 21px 15px black, 45px 15px black, 6px 18px black, 30px 18px black, 15px 21px black, 39px 21px black, 15px 27px black, 39px 27px black, 0px 30px black, 24px 30px black, 9px 33px black, 33px 33px black, 21px 39px black, 45px 39px black, 6px 42px black, 30px 42px black, 15px 45px black, 39px 45px black; }

#main {
  position: relative; }

#pos-1--1 {
  position: absolute;
  top: -48px;
  left: -48px; }

#pos-1-0 {
  position: absolute;
  top: -48px;
  left: 0px; }

#pos-1-1 {
  position: absolute;
  top: -48px;
  left: 48px; }

#pos-1-2 {
  position: absolute;
  top: -48px;
  left: 96px; }

#pos-1-3 {
  position: absolute;
  top: -48px;
  left: 144px; }

#pos-1-4 {
  position: absolute;
  top: -48px;
  left: 192px; }

#pos-1-5 {
  position: absolute;
  top: -48px;
  left: 240px; }

#pos-1-6 {
  position: absolute;
  top: -48px;
  left: 288px; }

#pos-1-7 {
  position: absolute;
  top: -48px;
  left: 336px; }

#pos-1-8 {
  position: absolute;
  top: -48px;
  left: 384px; }

#pos-1-9 {
  position: absolute;
  top: -48px;
  left: 432px; }

#pos-1-10 {
  position: absolute;
  top: -48px;
  left: 480px; }

#pos-1-11 {
  position: absolute;
  top: -48px;
  left: 528px; }

#pos-1-12 {
  position: absolute;
  top: -48px;
  left: 576px; }

#pos-1-13 {
  position: absolute;
  top: -48px;
  left: 624px; }

#pos-1-14 {
  position: absolute;
  top: -48px;
  left: 672px; }

#pos-1-15 {
  position: absolute;
  top: -48px;
  left: 720px; }

#pos0--1 {
  position: absolute;
  top: 0px;
  left: -48px; }

#pos0-0 {
  position: absolute;
  top: 0px;
  left: 0px; }

#pos0-1 {
  position: absolute;
  top: 0px;
  left: 48px; }

#pos0-2 {
  position: absolute;
  top: 0px;
  left: 96px; }

#pos0-3 {
  position: absolute;
  top: 0px;
  left: 144px; }

#pos0-4 {
  position: absolute;
  top: 0px;
  left: 192px; }

#pos0-5 {
  position: absolute;
  top: 0px;
  left: 240px; }

#pos0-6 {
  position: absolute;
  top: 0px;
  left: 288px; }

#pos0-7 {
  position: absolute;
  top: 0px;
  left: 336px; }

#pos0-8 {
  position: absolute;
  top: 0px;
  left: 384px; }

#pos0-9 {
  position: absolute;
  top: 0px;
  left: 432px; }

#pos0-10 {
  position: absolute;
  top: 0px;
  left: 480px; }

#pos0-11 {
  position: absolute;
  top: 0px;
  left: 528px; }

#pos0-12 {
  position: absolute;
  top: 0px;
  left: 576px; }

#pos0-13 {
  position: absolute;
  top: 0px;
  left: 624px; }

#pos0-14 {
  position: absolute;
  top: 0px;
  left: 672px; }

#pos0-15 {
  position: absolute;
  top: 0px;
  left: 720px; }

#pos1--1 {
  position: absolute;
  top: 48px;
  left: -48px; }

#pos1-0 {
  position: absolute;
  top: 48px;
  left: 0px; }

#pos1-1 {
  position: absolute;
  top: 48px;
  left: 48px; }

#pos1-2 {
  position: absolute;
  top: 48px;
  left: 96px; }

#pos1-3 {
  position: absolute;
  top: 48px;
  left: 144px; }

#pos1-4 {
  position: absolute;
  top: 48px;
  left: 192px; }

#pos1-5 {
  position: absolute;
  top: 48px;
  left: 240px; }

#pos1-6 {
  position: absolute;
  top: 48px;
  left: 288px; }

#pos1-7 {
  position: absolute;
  top: 48px;
  left: 336px; }

#pos1-8 {
  position: absolute;
  top: 48px;
  left: 384px; }

#pos1-9 {
  position: absolute;
  top: 48px;
  left: 432px; }

#pos1-10 {
  position: absolute;
  top: 48px;
  left: 480px; }

#pos1-11 {
  position: absolute;
  top: 48px;
  left: 528px; }

#pos1-12 {
  position: absolute;
  top: 48px;
  left: 576px; }

#pos1-13 {
  position: absolute;
  top: 48px;
  left: 624px; }

#pos1-14 {
  position: absolute;
  top: 48px;
  left: 672px; }

#pos1-15 {
  position: absolute;
  top: 48px;
  left: 720px; }

#pos2--1 {
  position: absolute;
  top: 96px;
  left: -48px; }

#pos2-0 {
  position: absolute;
  top: 96px;
  left: 0px; }

#pos2-1 {
  position: absolute;
  top: 96px;
  left: 48px; }

#pos2-2 {
  position: absolute;
  top: 96px;
  left: 96px; }

#pos2-3 {
  position: absolute;
  top: 96px;
  left: 144px; }

#pos2-4 {
  position: absolute;
  top: 96px;
  left: 192px; }

#pos2-5 {
  position: absolute;
  top: 96px;
  left: 240px; }

#pos2-6 {
  position: absolute;
  top: 96px;
  left: 288px; }

#pos2-7 {
  position: absolute;
  top: 96px;
  left: 336px; }

#pos2-8 {
  position: absolute;
  top: 96px;
  left: 384px; }

#pos2-9 {
  position: absolute;
  top: 96px;
  left: 432px; }

#pos2-10 {
  position: absolute;
  top: 96px;
  left: 480px; }

#pos2-11 {
  position: absolute;
  top: 96px;
  left: 528px; }

#pos2-12 {
  position: absolute;
  top: 96px;
  left: 576px; }

#pos2-13 {
  position: absolute;
  top: 96px;
  left: 624px; }

#pos2-14 {
  position: absolute;
  top: 96px;
  left: 672px; }

#pos2-15 {
  position: absolute;
  top: 96px;
  left: 720px; }

#pos3--1 {
  position: absolute;
  top: 144px;
  left: -48px; }

#pos3-0 {
  position: absolute;
  top: 144px;
  left: 0px; }

#pos3-1 {
  position: absolute;
  top: 144px;
  left: 48px; }

#pos3-2 {
  position: absolute;
  top: 144px;
  left: 96px; }

#pos3-3 {
  position: absolute;
  top: 144px;
  left: 144px; }

#pos3-4 {
  position: absolute;
  top: 144px;
  left: 192px; }

#pos3-5 {
  position: absolute;
  top: 144px;
  left: 240px; }

#pos3-6 {
  position: absolute;
  top: 144px;
  left: 288px; }

#pos3-7 {
  position: absolute;
  top: 144px;
  left: 336px; }

#pos3-8 {
  position: absolute;
  top: 144px;
  left: 384px; }

#pos3-9 {
  position: absolute;
  top: 144px;
  left: 432px; }

#pos3-10 {
  position: absolute;
  top: 144px;
  left: 480px; }

#pos3-11 {
  position: absolute;
  top: 144px;
  left: 528px; }

#pos3-12 {
  position: absolute;
  top: 144px;
  left: 576px; }

#pos3-13 {
  position: absolute;
  top: 144px;
  left: 624px; }

#pos3-14 {
  position: absolute;
  top: 144px;
  left: 672px; }

#pos3-15 {
  position: absolute;
  top: 144px;
  left: 720px; }

#pos4--1 {
  position: absolute;
  top: 192px;
  left: -48px; }

#pos4-0 {
  position: absolute;
  top: 192px;
  left: 0px; }

#pos4-1 {
  position: absolute;
  top: 192px;
  left: 48px; }

#pos4-2 {
  position: absolute;
  top: 192px;
  left: 96px; }

#pos4-3 {
  position: absolute;
  top: 192px;
  left: 144px; }

#pos4-4 {
  position: absolute;
  top: 192px;
  left: 192px; }

#pos4-5 {
  position: absolute;
  top: 192px;
  left: 240px; }

#pos4-6 {
  position: absolute;
  top: 192px;
  left: 288px; }

#pos4-7 {
  position: absolute;
  top: 192px;
  left: 336px; }

#pos4-8 {
  position: absolute;
  top: 192px;
  left: 384px; }

#pos4-9 {
  position: absolute;
  top: 192px;
  left: 432px; }

#pos4-10 {
  position: absolute;
  top: 192px;
  left: 480px; }

#pos4-11 {
  position: absolute;
  top: 192px;
  left: 528px; }

#pos4-12 {
  position: absolute;
  top: 192px;
  left: 576px; }

#pos4-13 {
  position: absolute;
  top: 192px;
  left: 624px; }

#pos4-14 {
  position: absolute;
  top: 192px;
  left: 672px; }

#pos4-15 {
  position: absolute;
  top: 192px;
  left: 720px; }

#pos5--1 {
  position: absolute;
  top: 240px;
  left: -48px; }

#pos5-0 {
  position: absolute;
  top: 240px;
  left: 0px; }

#pos5-1 {
  position: absolute;
  top: 240px;
  left: 48px; }

#pos5-2 {
  position: absolute;
  top: 240px;
  left: 96px; }

#pos5-3 {
  position: absolute;
  top: 240px;
  left: 144px; }

#pos5-4 {
  position: absolute;
  top: 240px;
  left: 192px; }

#pos5-5 {
  position: absolute;
  top: 240px;
  left: 240px; }

#pos5-6 {
  position: absolute;
  top: 240px;
  left: 288px; }

#pos5-7 {
  position: absolute;
  top: 240px;
  left: 336px; }

#pos5-8 {
  position: absolute;
  top: 240px;
  left: 384px; }

#pos5-9 {
  position: absolute;
  top: 240px;
  left: 432px; }

#pos5-10 {
  position: absolute;
  top: 240px;
  left: 480px; }

#pos5-11 {
  position: absolute;
  top: 240px;
  left: 528px; }

#pos5-12 {
  position: absolute;
  top: 240px;
  left: 576px; }

#pos5-13 {
  position: absolute;
  top: 240px;
  left: 624px; }

#pos5-14 {
  position: absolute;
  top: 240px;
  left: 672px; }

#pos5-15 {
  position: absolute;
  top: 240px;
  left: 720px; }

#pos6--1 {
  position: absolute;
  top: 288px;
  left: -48px; }

#pos6-0 {
  position: absolute;
  top: 288px;
  left: 0px; }

#pos6-1 {
  position: absolute;
  top: 288px;
  left: 48px; }

#pos6-2 {
  position: absolute;
  top: 288px;
  left: 96px; }

#pos6-3 {
  position: absolute;
  top: 288px;
  left: 144px; }

#pos6-4 {
  position: absolute;
  top: 288px;
  left: 192px; }

#pos6-5 {
  position: absolute;
  top: 288px;
  left: 240px; }

#pos6-6 {
  position: absolute;
  top: 288px;
  left: 288px; }

#pos6-7 {
  position: absolute;
  top: 288px;
  left: 336px; }

#pos6-8 {
  position: absolute;
  top: 288px;
  left: 384px; }

#pos6-9 {
  position: absolute;
  top: 288px;
  left: 432px; }

#pos6-10 {
  position: absolute;
  top: 288px;
  left: 480px; }

#pos6-11 {
  position: absolute;
  top: 288px;
  left: 528px; }

#pos6-12 {
  position: absolute;
  top: 288px;
  left: 576px; }

#pos6-13 {
  position: absolute;
  top: 288px;
  left: 624px; }

#pos6-14 {
  position: absolute;
  top: 288px;
  left: 672px; }

#pos6-15 {
  position: absolute;
  top: 288px;
  left: 720px; }

#pos7--1 {
  position: absolute;
  top: 336px;
  left: -48px; }

#pos7-0 {
  position: absolute;
  top: 336px;
  left: 0px; }

#pos7-1 {
  position: absolute;
  top: 336px;
  left: 48px; }

#pos7-2 {
  position: absolute;
  top: 336px;
  left: 96px; }

#pos7-3 {
  position: absolute;
  top: 336px;
  left: 144px; }

#pos7-4 {
  position: absolute;
  top: 336px;
  left: 192px; }

#pos7-5 {
  position: absolute;
  top: 336px;
  left: 240px; }

#pos7-6 {
  position: absolute;
  top: 336px;
  left: 288px; }

#pos7-7 {
  position: absolute;
  top: 336px;
  left: 336px; }

#pos7-8 {
  position: absolute;
  top: 336px;
  left: 384px; }

#pos7-9 {
  position: absolute;
  top: 336px;
  left: 432px; }

#pos7-10 {
  position: absolute;
  top: 336px;
  left: 480px; }

#pos7-11 {
  position: absolute;
  top: 336px;
  left: 528px; }

#pos7-12 {
  position: absolute;
  top: 336px;
  left: 576px; }

#pos7-13 {
  position: absolute;
  top: 336px;
  left: 624px; }

#pos7-14 {
  position: absolute;
  top: 336px;
  left: 672px; }

#pos7-15 {
  position: absolute;
  top: 336px;
  left: 720px; }

#pos8--1 {
  position: absolute;
  top: 384px;
  left: -48px; }

#pos8-0 {
  position: absolute;
  top: 384px;
  left: 0px; }

#pos8-1 {
  position: absolute;
  top: 384px;
  left: 48px; }

#pos8-2 {
  position: absolute;
  top: 384px;
  left: 96px; }

#pos8-3 {
  position: absolute;
  top: 384px;
  left: 144px; }

#pos8-4 {
  position: absolute;
  top: 384px;
  left: 192px; }

#pos8-5 {
  position: absolute;
  top: 384px;
  left: 240px; }

#pos8-6 {
  position: absolute;
  top: 384px;
  left: 288px; }

#pos8-7 {
  position: absolute;
  top: 384px;
  left: 336px; }

#pos8-8 {
  position: absolute;
  top: 384px;
  left: 384px; }

#pos8-9 {
  position: absolute;
  top: 384px;
  left: 432px; }

#pos8-10 {
  position: absolute;
  top: 384px;
  left: 480px; }

#pos8-11 {
  position: absolute;
  top: 384px;
  left: 528px; }

#pos8-12 {
  position: absolute;
  top: 384px;
  left: 576px; }

#pos8-13 {
  position: absolute;
  top: 384px;
  left: 624px; }

#pos8-14 {
  position: absolute;
  top: 384px;
  left: 672px; }

#pos8-15 {
  position: absolute;
  top: 384px;
  left: 720px; }

#pos9--1 {
  position: absolute;
  top: 432px;
  left: -48px; }

#pos9-0 {
  position: absolute;
  top: 432px;
  left: 0px; }

#pos9-1 {
  position: absolute;
  top: 432px;
  left: 48px; }

#pos9-2 {
  position: absolute;
  top: 432px;
  left: 96px; }

#pos9-3 {
  position: absolute;
  top: 432px;
  left: 144px; }

#pos9-4 {
  position: absolute;
  top: 432px;
  left: 192px; }

#pos9-5 {
  position: absolute;
  top: 432px;
  left: 240px; }

#pos9-6 {
  position: absolute;
  top: 432px;
  left: 288px; }

#pos9-7 {
  position: absolute;
  top: 432px;
  left: 336px; }

#pos9-8 {
  position: absolute;
  top: 432px;
  left: 384px; }

#pos9-9 {
  position: absolute;
  top: 432px;
  left: 432px; }

#pos9-10 {
  position: absolute;
  top: 432px;
  left: 480px; }

#pos9-11 {
  position: absolute;
  top: 432px;
  left: 528px; }

#pos9-12 {
  position: absolute;
  top: 432px;
  left: 576px; }

#pos9-13 {
  position: absolute;
  top: 432px;
  left: 624px; }

#pos9-14 {
  position: absolute;
  top: 432px;
  left: 672px; }

#pos9-15 {
  position: absolute;
  top: 432px;
  left: 720px; }

#pos10--1 {
  position: absolute;
  top: 480px;
  left: -48px; }

#pos10-0 {
  position: absolute;
  top: 480px;
  left: 0px; }

#pos10-1 {
  position: absolute;
  top: 480px;
  left: 48px; }

#pos10-2 {
  position: absolute;
  top: 480px;
  left: 96px; }

#pos10-3 {
  position: absolute;
  top: 480px;
  left: 144px; }

#pos10-4 {
  position: absolute;
  top: 480px;
  left: 192px; }

#pos10-5 {
  position: absolute;
  top: 480px;
  left: 240px; }

#pos10-6 {
  position: absolute;
  top: 480px;
  left: 288px; }

#pos10-7 {
  position: absolute;
  top: 480px;
  left: 336px; }

#pos10-8 {
  position: absolute;
  top: 480px;
  left: 384px; }

#pos10-9 {
  position: absolute;
  top: 480px;
  left: 432px; }

#pos10-10 {
  position: absolute;
  top: 480px;
  left: 480px; }

#pos10-11 {
  position: absolute;
  top: 480px;
  left: 528px; }

#pos10-12 {
  position: absolute;
  top: 480px;
  left: 576px; }

#pos10-13 {
  position: absolute;
  top: 480px;
  left: 624px; }

#pos10-14 {
  position: absolute;
  top: 480px;
  left: 672px; }

#pos10-15 {
  position: absolute;
  top: 480px;
  left: 720px; }

#pos11--1 {
  position: absolute;
  top: 528px;
  left: -48px; }

#pos11-0 {
  position: absolute;
  top: 528px;
  left: 0px; }

#pos11-1 {
  position: absolute;
  top: 528px;
  left: 48px; }

#pos11-2 {
  position: absolute;
  top: 528px;
  left: 96px; }

#pos11-3 {
  position: absolute;
  top: 528px;
  left: 144px; }

#pos11-4 {
  position: absolute;
  top: 528px;
  left: 192px; }

#pos11-5 {
  position: absolute;
  top: 528px;
  left: 240px; }

#pos11-6 {
  position: absolute;
  top: 528px;
  left: 288px; }

#pos11-7 {
  position: absolute;
  top: 528px;
  left: 336px; }

#pos11-8 {
  position: absolute;
  top: 528px;
  left: 384px; }

#pos11-9 {
  position: absolute;
  top: 528px;
  left: 432px; }

#pos11-10 {
  position: absolute;
  top: 528px;
  left: 480px; }

#pos11-11 {
  position: absolute;
  top: 528px;
  left: 528px; }

#pos11-12 {
  position: absolute;
  top: 528px;
  left: 576px; }

#pos11-13 {
  position: absolute;
  top: 528px;
  left: 624px; }

#pos11-14 {
  position: absolute;
  top: 528px;
  left: 672px; }

#pos11-15 {
  position: absolute;
  top: 528px;
  left: 720px; }

#pos12--1 {
  position: absolute;
  top: 576px;
  left: -48px; }

#pos12-0 {
  position: absolute;
  top: 576px;
  left: 0px; }

#pos12-1 {
  position: absolute;
  top: 576px;
  left: 48px; }

#pos12-2 {
  position: absolute;
  top: 576px;
  left: 96px; }

#pos12-3 {
  position: absolute;
  top: 576px;
  left: 144px; }

#pos12-4 {
  position: absolute;
  top: 576px;
  left: 192px; }

#pos12-5 {
  position: absolute;
  top: 576px;
  left: 240px; }

#pos12-6 {
  position: absolute;
  top: 576px;
  left: 288px; }

#pos12-7 {
  position: absolute;
  top: 576px;
  left: 336px; }

#pos12-8 {
  position: absolute;
  top: 576px;
  left: 384px; }

#pos12-9 {
  position: absolute;
  top: 576px;
  left: 432px; }

#pos12-10 {
  position: absolute;
  top: 576px;
  left: 480px; }

#pos12-11 {
  position: absolute;
  top: 576px;
  left: 528px; }

#pos12-12 {
  position: absolute;
  top: 576px;
  left: 576px; }

#pos12-13 {
  position: absolute;
  top: 576px;
  left: 624px; }

#pos12-14 {
  position: absolute;
  top: 576px;
  left: 672px; }

#pos12-15 {
  position: absolute;
  top: 576px;
  left: 720px; }

#pos13--1 {
  position: absolute;
  top: 624px;
  left: -48px; }

#pos13-0 {
  position: absolute;
  top: 624px;
  left: 0px; }

#pos13-1 {
  position: absolute;
  top: 624px;
  left: 48px; }

#pos13-2 {
  position: absolute;
  top: 624px;
  left: 96px; }

#pos13-3 {
  position: absolute;
  top: 624px;
  left: 144px; }

#pos13-4 {
  position: absolute;
  top: 624px;
  left: 192px; }

#pos13-5 {
  position: absolute;
  top: 624px;
  left: 240px; }

#pos13-6 {
  position: absolute;
  top: 624px;
  left: 288px; }

#pos13-7 {
  position: absolute;
  top: 624px;
  left: 336px; }

#pos13-8 {
  position: absolute;
  top: 624px;
  left: 384px; }

#pos13-9 {
  position: absolute;
  top: 624px;
  left: 432px; }

#pos13-10 {
  position: absolute;
  top: 624px;
  left: 480px; }

#pos13-11 {
  position: absolute;
  top: 624px;
  left: 528px; }

#pos13-12 {
  position: absolute;
  top: 624px;
  left: 576px; }

#pos13-13 {
  position: absolute;
  top: 624px;
  left: 624px; }

#pos13-14 {
  position: absolute;
  top: 624px;
  left: 672px; }

#pos13-15 {
  position: absolute;
  top: 624px;
  left: 720px; }

#pos14--1 {
  position: absolute;
  top: 672px;
  left: -48px; }

#pos14-0 {
  position: absolute;
  top: 672px;
  left: 0px; }

#pos14-1 {
  position: absolute;
  top: 672px;
  left: 48px; }

#pos14-2 {
  position: absolute;
  top: 672px;
  left: 96px; }

#pos14-3 {
  position: absolute;
  top: 672px;
  left: 144px; }

#pos14-4 {
  position: absolute;
  top: 672px;
  left: 192px; }

#pos14-5 {
  position: absolute;
  top: 672px;
  left: 240px; }

#pos14-6 {
  position: absolute;
  top: 672px;
  left: 288px; }

#pos14-7 {
  position: absolute;
  top: 672px;
  left: 336px; }

#pos14-8 {
  position: absolute;
  top: 672px;
  left: 384px; }

#pos14-9 {
  position: absolute;
  top: 672px;
  left: 432px; }

#pos14-10 {
  position: absolute;
  top: 672px;
  left: 480px; }

#pos14-11 {
  position: absolute;
  top: 672px;
  left: 528px; }

#pos14-12 {
  position: absolute;
  top: 672px;
  left: 576px; }

#pos14-13 {
  position: absolute;
  top: 672px;
  left: 624px; }

#pos14-14 {
  position: absolute;
  top: 672px;
  left: 672px; }

#pos14-15 {
  position: absolute;
  top: 672px;
  left: 720px; }

#pos15--1 {
  position: absolute;
  top: 720px;
  left: -48px; }

#pos15-0 {
  position: absolute;
  top: 720px;
  left: 0px; }

#pos15-1 {
  position: absolute;
  top: 720px;
  left: 48px; }

#pos15-2 {
  position: absolute;
  top: 720px;
  left: 96px; }

#pos15-3 {
  position: absolute;
  top: 720px;
  left: 144px; }

#pos15-4 {
  position: absolute;
  top: 720px;
  left: 192px; }

#pos15-5 {
  position: absolute;
  top: 720px;
  left: 240px; }

#pos15-6 {
  position: absolute;
  top: 720px;
  left: 288px; }

#pos15-7 {
  position: absolute;
  top: 720px;
  left: 336px; }

#pos15-8 {
  position: absolute;
  top: 720px;
  left: 384px; }

#pos15-9 {
  position: absolute;
  top: 720px;
  left: 432px; }

#pos15-10 {
  position: absolute;
  top: 720px;
  left: 480px; }

#pos15-11 {
  position: absolute;
  top: 720px;
  left: 528px; }

#pos15-12 {
  position: absolute;
  top: 720px;
  left: 576px; }

#pos15-13 {
  position: absolute;
  top: 720px;
  left: 624px; }

#pos15-14 {
  position: absolute;
  top: 720px;
  left: 672px; }

#pos15-15 {
  position: absolute;
  top: 720px;
  left: 720px; }

/*# sourceMappingURL=style.css.map */
