#grassTile div {
  box-shadow: 20px 0px #80d010, 40px 0px #80d010, 60px 0px #80d010, 80px 0px #80d010, 100px 0px #00a800, 120px 0px #80d010, 140px 0px #80d010, 160px 0px #80d010, 180px 0px #80d010, 200px 0px #80d010, 220px 0px #80d010, 240px 0px #80d010, 260px 0px #00a800, 280px 0px #80d010, 300px 0px #80d010, 0px 20px #80d010, 20px 20px #80d010, 40px 20px #00a800, 60px 20px #80d010, 80px 20px #80d010, 100px 20px #80d010, 120px 20px #80d010, 140px 20px #80d010, 160px 20px #80d010, 180px 20px #80d010, 200px 20px #00a800, 220px 20px #80d010, 240px 20px #80d010, 260px 20px #80d010, 280px 20px #80d010, 300px 20px #80d010, 0px 40px #80d010, 20px 40px #80d010, 40px 40px #80d010, 60px 40px #80d010, 80px 40px #80d010, 100px 40px #80d010, 120px 40px #80d010, 140px 40px #80d010, 160px 40px #80d010, 180px 40px #80d010, 200px 40px #80d010, 220px 40px #80d010, 240px 40px #80d010, 260px 40px #80d010, 280px 40px #80d010, 300px 40px #80d010, 0px 60px #80d010, 20px 60px #80d010, 40px 60px #80d010, 60px 60px #80d010, 80px 60px #80d010, 100px 60px #80d010, 120px 60px #00a800, 140px 60px #80d010, 160px 60px #80d010, 180px 60px #80d010, 200px 60px #80d010, 220px 60px #80d010, 240px 60px #80d010, 260px 60px #80d010, 280px 60px #00a800, 300px 60px #80d010, 0px 80px #80d010, 20px 80px #00a800, 40px 80px #80d010, 60px 80px #80d010, 80px 80px #80d010, 100px 80px #80d010, 120px 80px #80d010, 140px 80px #80d010, 160px 80px #80d010, 180px 80px #00a800, 200px 80px #80d010, 220px 80px #80d010, 240px 80px #80d010, 260px 80px #80d010, 280px 80px #80d010, 300px 80px #80d010, 0px 100px #80d010, 20px 100px #80d010, 40px 100px #80d010, 60px 100px #80d010, 80px 100px #80d010, 100px 100px #80d010, 120px 100px #80d010, 140px 100px #80d010, 160px 100px #80d010, 180px 100px #80d010, 200px 100px #80d010, 220px 100px #80d010, 240px 100px #80d010, 260px 100px #80d010, 280px 100px #80d010, 300px 100px #80d010, 0px 120px #80d010, 20px 120px #80d010, 40px 120px #80d010, 60px 120px #00a800, 80px 120px #80d010, 100px 120px #80d010, 120px 120px #80d010, 140px 120px #80d010, 160px 120px #80d010, 180px 120px #80d010, 200px 120px #80d010, 220px 120px #00a800, 240px 120px #80d010, 260px 120px #80d010, 280px 120px #80d010, 300px 120px #80d010, 0px 140px #80d010, 20px 140px #80d010, 40px 140px #80d010, 60px 140px #80d010, 80px 140px #80d010, 100px 140px #80d010, 120px 140px #80d010, 140px 140px #80d010, 160px 140px #80d010, 180px 140px #80d010, 200px 140px #80d010, 220px 140px #80d010, 240px 140px #80d010, 260px 140px #80d010, 280px 140px #80d010, 300px 140px #80d010, 0px 160px #80d010, 20px 160px #80d010, 40px 160px #80d010, 60px 160px #80d010, 80px 160px #80d010, 100px 160px #00a800, 120px 160px #80d010, 140px 160px #80d010, 160px 160px #80d010, 180px 160px #80d010, 200px 160px #80d010, 220px 160px #80d010, 240px 160px #80d010, 260px 160px #00a800, 280px 160px #80d010, 300px 160px #80d010, 0px 180px #80d010, 20px 180px #80d010, 40px 180px #00a800, 60px 180px #80d010, 80px 180px #80d010, 100px 180px #80d010, 120px 180px #80d010, 140px 180px #80d010, 160px 180px #80d010, 180px 180px #80d010, 200px 180px #00a800, 220px 180px #80d010, 240px 180px #80d010, 260px 180px #80d010, 280px 180px #80d010, 300px 180px #80d010, 0px 200px #80d010, 20px 200px #80d010, 40px 200px #80d010, 60px 200px #80d010, 80px 200px #80d010, 100px 200px #80d010, 120px 200px #80d010, 140px 200px #80d010, 160px 200px #80d010, 180px 200px #80d010, 200px 200px #80d010, 220px 200px #80d010, 240px 200px #80d010, 260px 200px #80d010, 280px 200px #80d010, 300px 200px #80d010, 0px 220px #80d010, 20px 220px #80d010, 40px 220px #80d010, 60px 220px #80d010, 80px 220px #80d010, 100px 220px #80d010, 120px 220px #00a800, 140px 220px #80d010, 160px 220px #80d010, 180px 220px #80d010, 200px 220px #80d010, 220px 220px #80d010, 240px 220px #80d010, 260px 220px #80d010, 280px 220px #00a800, 300px 220px #80d010, 0px 240px #80d010, 20px 240px #00a800, 40px 240px #80d010, 60px 240px #80d010, 80px 240px #80d010, 100px 240px #80d010, 120px 240px #80d010, 140px 240px #80d010, 160px 240px #80d010, 180px 240px #00a800, 200px 240px #80d010, 220px 240px #80d010, 240px 240px #80d010, 260px 240px #80d010, 280px 240px #80d010, 300px 240px #80d010, 0px 260px #80d010, 20px 260px #80d010, 40px 260px #80d010, 60px 260px #80d010, 80px 260px #80d010, 100px 260px #80d010, 120px 260px #80d010, 140px 260px #80d010, 160px 260px #80d010, 180px 260px #80d010, 200px 260px #80d010, 220px 260px #80d010, 240px 260px #80d010, 260px 260px #80d010, 280px 260px #80d010, 300px 260px #80d010, 0px 280px #80d010, 20px 280px #80d010, 40px 280px #80d010, 60px 280px #00a800, 80px 280px #80d010, 100px 280px #80d010, 120px 280px #80d010, 140px 280px #80d010, 160px 280px #80d010, 180px 280px #80d010, 200px 280px #80d010, 220px 280px #00a800, 240px 280px #80d010, 260px 280px #80d010, 280px 280px #80d010, 300px 280px #80d010, 0px 300px #80d010, 20px 300px #80d010, 40px 300px #80d010, 60px 300px #80d010, 80px 300px #80d010, 100px 300px #80d010, 120px 300px #80d010, 140px 300px #80d010, 160px 300px #80d010, 180px 300px #80d010, 200px 300px #80d010, 220px 300px #80d010, 240px 300px #80d010, 260px 300px #80d010, 280px 300px #80d010, 300px 300px #80d010;
  display: relative;
  float: left;
  margin-right: 60px;
  background: #80d010;
  width: 20px;
  height: 20px; }

.grassTile2 {
  width: 320px;
  height: 320px;
  background: #80d010; }

.grassTile2::after {
  content: "";
  box-shadow: 100px 0px #00a800, 260px 0px #00a800, 40px 20px #00a800, 200px 20px #00a800, 120px 60px #00a800, 280px 60px #00a800, 20px 80px #00a800, 180px 80px #00a800, 60px 120px #00a800, 220px 120px #00a800, 100px 160px #00a800, 260px 160px #00a800, 40px 180px #00a800, 200px 180px #00a800, 120px 220px #00a800, 280px 220px #00a800, 20px 240px #00a800, 180px 240px #00a800, 60px 280px #00a800, 220px 280px #00a800;
  display: block;
  background: #80d010;
  width: 20px;
  height: 20px; }

.treeTile {
  width: 320px;
  height: 320px;
  background: #80d010; }

.treeTile::after {
  content: "";
  display: block;
  background: #80d010;
  width: 20px;
  height: 20px;
  box-shadow: 60px 0px black, 80px 0px #00a800, 220px 0px black, 240px 0px #00a800, 40px 20px black, 60px 20px #00a800, 80px 20px #00a800, 100px 20px #00a800, 200px 20px black, 220px 20px #00a800, 240px 20px #00a800, 260px 20px #00a800, 20px 40px black, 40px 40px #00a800, 60px 40px #00a800, 80px 40px #80d010, 100px 40px #00a800, 120px 40px #00a800, 180px 40px black, 200px 40px #00a800, 220px 40px #00a800, 240px 40px #80d010, 260px 40px #00a800, 280px 40px #00a800, 20px 60px black, 40px 60px #00a800, 60px 60px #00a800, 80px 60px #00a800, 100px 60px #00a800, 120px 60px #00a800, 180px 60px black, 200px 60px #00a800, 220px 60px #00a800, 240px 60px #00a800, 260px 60px #00a800, 280px 60px #00a800, 0px 80px black, 20px 80px #00a800, 40px 80px #00a800, 60px 80px black, 80px 80px #00a800, 100px 80px #00a800, 120px 80px #00a800, 140px 80px #00a800, 160px 80px black, 180px 80px #00a800, 200px 80px #00a800, 220px 80px black, 240px 80px #00a800, 260px 80px #00a800, 280px 80px #00a800, 300px 80px #00a800, 0px 100px #00a800, 20px 100px black, 40px 100px #00a800, 60px 100px #00a800, 80px 100px #00a800, 100px 100px #80d010, 120px 100px #00a800, 140px 100px #00a800, 160px 100px #00a800, 180px 100px black, 200px 100px #00a800, 220px 100px #00a800, 240px 100px #00a800, 260px 100px #80d010, 280px 100px #00a800, 300px 100px #00a800, 0px 120px black, 20px 120px #00a800, 40px 120px #00a800, 60px 120px #00a800, 80px 120px #00a800, 100px 120px #00a800, 120px 120px #00a800, 140px 120px #00a800, 160px 120px black, 180px 120px #00a800, 200px 120px #00a800, 220px 120px #00a800, 240px 120px #00a800, 260px 120px #00a800, 280px 120px #00a800, 300px 120px #00a800, 0px 140px #00a800, 20px 140px black, 40px 140px #00a800, 60px 140px #00a800, 80px 140px #00a800, 100px 140px #00a800, 120px 140px #80d010, 140px 140px #00a800, 160px 140px #00a800, 180px 140px black, 200px 140px #00a800, 220px 140px #00a800, 240px 140px #00a800, 260px 140px #00a800, 280px 140px #80d010, 300px 140px #00a800, 0px 160px black, 20px 160px #00a800, 40px 160px black, 60px 160px #00a800, 80px 160px #00a800, 100px 160px #00a800, 120px 160px #00a800, 140px 160px #00a800, 160px 160px black, 180px 160px #00a800, 200px 160px black, 220px 160px #00a800, 240px 160px #00a800, 260px 160px #00a800, 280px 160px #00a800, 300px 160px #00a800, 0px 180px #00a800, 20px 180px black, 40px 180px #00a800, 60px 180px #00a800, 80px 180px #00a800, 100px 180px #00a800, 120px 180px #fc9838, 140px 180px #00a800, 160px 180px #00a800, 180px 180px black, 200px 180px #00a800, 220px 180px #00a800, 240px 180px #00a800, 260px 180px #00a800, 280px 180px #fc9838, 300px 180px #00a800, 0px 200px black, 20px 200px #00a800, 40px 200px black, 60px 200px #00a800, 80px 200px #00a800, 100px 200px #00a800, 120px 200px #00a800, 140px 200px black, 160px 200px black, 180px 200px #00a800, 200px 200px black, 220px 200px #00a800, 240px 200px #00a800, 260px 200px #00a800, 280px 200px #00a800, 300px 200px black, 20px 220px black, 40px 220px #fc9838, 60px 220px #fc9838, 80px 220px #00a800, 100px 220px #fc9838, 120px 220px black, 180px 220px black, 200px 220px #fc9838, 220px 220px #fc9838, 240px 220px #00a800, 260px 220px #fc9838, 280px 220px black, 40px 240px black, 60px 240px #fc9838, 80px 240px #fc9838, 200px 240px black, 220px 240px #fc9838, 240px 240px #fc9838, 0px 260px black, 20px 260px black, 40px 260px black, 60px 260px #fc9838, 80px 260px #fc9838, 100px 260px black, 160px 260px black, 180px 260px black, 200px 260px black, 220px 260px #fc9838, 240px 260px #fc9838, 260px 260px black, 0px 280px black, 20px 280px black, 40px 280px #fc9838, 60px 280px black, 80px 280px #fc9838, 100px 280px #fc9838, 120px 280px black, 160px 280px black, 180px 280px black, 200px 280px #fc9838, 220px 280px black, 240px 280px #fc9838, 260px 280px #fc9838, 280px 280px black, 20px 300px black, 40px 300px black, 60px 300px black, 80px 300px black, 100px 300px black, 180px 300px black, 200px 300px black, 220px 300px black, 240px 300px black, 260px 300px black; }

.hillTile {
  width: 320px;
  height: 320px;
  background: #80d010; }

.hillTile::after {
  content: "";
  display: block;
  background: #80d010;
  width: 20px;
  height: 20px;
  box-shadow: 260px 0px black, 40px 20px black, 200px 20px black, 120px 60px black, 140px 60px black, 160px 60px black, 180px 60px black, 280px 60px black, 20px 80px black, 100px 80px black, 200px 80px black, 80px 100px black, 120px 100px #fcd8a8, 180px 100px #fcd8a8, 220px 100px black, 60px 120px black, 100px 120px #fcd8a8, 120px 120px #fcd8a8, 200px 120px #fcd8a8, 240px 120px black, 40px 140px black, 80px 140px #fcd8a8, 100px 140px #fcd8a8, 200px 140px #fcd8a8, 220px 140px #fcd8a8, 260px 140px black, 20px 160px black, 60px 160px #fcd8a8, 80px 160px black, 100px 160px #fcd8a8, 140px 160px #fcd8a8, 240px 160px #fcd8a8, 280px 160px black, 0px 180px black, 20px 180px #fcd8a8, 40px 180px #fcd8a8, 60px 180px black, 80px 180px #fcd8a8, 140px 180px #fcd8a8, 160px 180px #fcd8a8, 180px 180px black, 220px 180px #fcd8a8, 240px 180px #fcd8a8, 260px 180px #fcd8a8, 300px 180px black, 0px 200px #fcd8a8, 20px 200px black, 40px 200px #fcd8a8, 60px 200px black, 80px 200px #fcd8a8, 120px 200px black, 140px 200px #fcd8a8, 160px 200px #fcd8a8, 180px 200px #fcd8a8, 200px 200px black, 240px 200px #fcd8a8, 260px 200px #fcd8a8, 280px 200px #fcd8a8, 0px 220px black, 20px 220px #fcd8a8, 40px 220px black, 60px 220px #fcd8a8, 100px 220px black, 120px 220px #fcd8a8, 140px 220px #fcd8a8, 160px 220px black, 180px 220px #fcd8a8, 200px 220px black, 220px 220px black, 260px 220px black, 280px 220px #fcd8a8, 300px 220px #fcd8a8, 0px 240px black, 20px 240px black, 40px 240px black, 80px 240px black, 100px 240px black, 120px 240px #fcd8a8, 140px 240px black, 160px 240px #fcd8a8, 180px 240px #fcd8a8, 200px 240px #fcd8a8, 220px 240px black, 240px 240px black, 260px 240px #fcd8a8, 280px 240px #fcd8a8, 300px 240px black, 40px 260px black, 60px 260px black, 80px 260px black, 120px 260px black, 140px 260px black, 160px 260px black, 180px 260px #fcd8a8, 200px 260px black, 220px 260px #fcd8a8, 240px 260px black, 260px 260px black, 280px 260px black, 160px 280px black, 180px 280px black, 200px 280px black, 220px 280px black; }

.waterTile {
  width: 320px;
  height: 320px;
  background: #0070ec; }

.waterTile::after {
  content: "";
  display: block;
  background: #0070ec;
  width: 20px;
  height: 20px;
  box-shadow: 200px 20px #fcfcfc, 220px 20px #fcfcfc, 180px 40px #fcfcfc, 220px 40px #fcfcfc, 240px 40px #fcfcfc, 40px 60px #fcfcfc, 60px 60px #fcfcfc, 80px 60px #fcfcfc, 280px 60px #fcfcfc, 20px 80px #fcfcfc, 40px 80px #fcfcfc, 80px 80px #fcfcfc, 100px 80px #fcfcfc, 140px 100px #fcfcfc, 240px 100px #fcfcfc, 220px 120px #fcfcfc, 260px 120px #fcfcfc, 40px 180px #fcfcfc, 60px 180px #fcfcfc, 20px 200px #fcfcfc, 60px 200px #fcfcfc, 80px 200px #fcfcfc, 120px 220px #fcfcfc, 200px 220px #fcfcfc, 220px 220px #fcfcfc, 240px 220px #fcfcfc, 180px 240px #fcfcfc, 200px 240px #fcfcfc, 240px 240px #fcfcfc, 260px 240px #fcfcfc, 80px 260px #fcfcfc, 300px 260px #fcfcfc, 60px 280px #fcfcfc, 100px 280px #fcfcfc; }

.townTile {
  width: 320px;
  height: 320px;
  background: black; }

.townTile::after {
  content: "";
  display: block;
  background: black;
  width: 20px;
  height: 20px;
  box-shadow: 200px 20px #bcbcbc, 100px 40px #bcbcbc, 180px 40px #bcbcbc, 200px 40px #bcbcbc, 220px 40px #bcbcbc, 100px 60px #bcbcbc, 120px 60px #bcbcbc, 160px 60px #bcbcbc, 180px 60px #bcbcbc, 200px 60px #bcbcbc, 220px 60px #bcbcbc, 240px 60px #bcbcbc, 80px 80px #bcbcbc, 100px 80px #bcbcbc, 120px 80px #bcbcbc, 160px 80px #fcfcfc, 180px 80px #fcfcfc, 200px 80px #fcfcfc, 220px 80px #fcfcfc, 240px 80px #fcfcfc, 40px 100px #bcbcbc, 80px 100px #bcbcbc, 100px 100px #bcbcbc, 120px 100px #bcbcbc, 160px 100px #fcfcfc, 180px 100px #0070ec, 200px 100px #fcfcfc, 220px 100px #0070ec, 240px 100px #fcfcfc, 280px 100px #bcbcbc, 0px 120px #bcbcbc, 40px 120px #bcbcbc, 60px 120px #bcbcbc, 100px 120px #bcbcbc, 120px 120px #bcbcbc, 160px 120px #fcfcfc, 180px 120px #fcfcfc, 200px 120px #fcfcfc, 220px 120px #fcfcfc, 240px 120px #fcfcfc, 280px 120px #bcbcbc, 300px 120px #bcbcbc, 0px 140px #fcfcfc, 40px 140px #fcfcfc, 60px 140px #fcfcfc, 100px 140px #bcbcbc, 120px 140px #bcbcbc, 160px 140px #fcfcfc, 180px 140px #fcfcfc, 280px 140px #bcbcbc, 300px 140px #bcbcbc, 0px 160px #fcfcfc, 20px 160px #fcfcfc, 40px 160px #fcfcfc, 60px 160px #fcfcfc, 100px 160px #bcbcbc, 120px 160px #bcbcbc, 160px 160px #fcfcfc, 200px 160px #bcbcbc, 220px 160px #bcbcbc, 240px 160px #bcbcbc, 260px 160px #bcbcbc, 300px 160px #bcbcbc, 0px 180px #fcfcfc, 20px 180px #0070ec, 40px 180px #fcfcfc, 60px 180px #fcfcfc, 80px 180px #fcfcfc, 120px 180px #bcbcbc, 180px 180px #bcbcbc, 200px 180px #bcbcbc, 220px 180px #bcbcbc, 240px 180px #bcbcbc, 260px 180px #bcbcbc, 280px 180px #bcbcbc, 0px 200px #fcfcfc, 20px 200px #0070ec, 40px 200px #fcfcfc, 60px 200px #fcfcfc, 80px 200px #fcfcfc, 100px 200px #fcfcfc, 140px 200px #bcbcbc, 160px 200px #bcbcbc, 180px 200px #bcbcbc, 200px 200px #bcbcbc, 220px 200px #bcbcbc, 240px 200px #bcbcbc, 260px 200px #bcbcbc, 280px 200px #bcbcbc, 300px 200px #bcbcbc, 0px 220px #fcfcfc, 20px 220px #fcfcfc, 40px 220px #fcfcfc, 60px 220px #fcfcfc, 80px 220px #fcfcfc, 100px 220px #fcfcfc, 140px 220px #fcfcfc, 160px 220px #fcfcfc, 180px 220px #fcfcfc, 200px 220px #fcfcfc, 220px 220px #fcfcfc, 240px 220px #fcfcfc, 260px 220px #fcfcfc, 280px 220px #fcfcfc, 300px 220px #fcfcfc, 0px 240px #fcfcfc, 20px 240px #fcfcfc, 40px 240px #bcbcbc, 80px 240px #fcfcfc, 100px 240px #fcfcfc, 140px 240px #fcfcfc, 160px 240px #fcfcfc, 180px 240px #fcfcfc, 200px 240px #fcfcfc, 220px 240px #fcfcfc, 240px 240px #fcfcfc, 260px 240px #fcfcfc, 280px 240px #fcfcfc, 300px 240px #fcfcfc, 0px 260px #fcfcfc, 20px 260px #fcfcfc, 40px 260px #bcbcbc, 80px 260px #fcfcfc, 100px 260px #fcfcfc, 140px 260px #fcfcfc, 160px 260px #fcfcfc, 180px 260px #0070ec, 200px 260px #fcfcfc, 220px 260px #0070ec, 240px 260px #fcfcfc, 260px 260px #bcbcbc, 300px 260px #fcfcfc, 0px 280px #fcfcfc, 20px 280px #fcfcfc, 40px 280px #bcbcbc, 80px 280px #fcfcfc, 100px 280px #fcfcfc, 140px 280px #fcfcfc, 160px 280px #fcfcfc, 180px 280px #fcfcfc, 200px 280px #fcfcfc, 220px 280px #fcfcfc, 240px 280px #fcfcfc, 260px 280px #bcbcbc, 300px 280px #fcfcfc; }

.nBeachTile {
  width: 320px;
  height: 320px;
  background: #0070ec; }

.nBeachTile::after {
  content: "";
  display: block;
  background: #fcfcfc;
  width: 20px;
  height: 20px;
  box-shadow: 20px 0px #bcbcbc, 40px 0px #bcbcbc, 60px 0px #fcfcfc, 80px 0px #bcbcbc, 100px 0px #bcbcbc, 120px 0px #bcbcbc, 140px 0px #fcfcfc, 160px 0px #bcbcbc, 180px 0px #bcbcbc, 200px 0px #fcfcfc, 220px 0px #fcfcfc, 240px 0px #bcbcbc, 260px 0px #bcbcbc, 280px 0px #bcbcbc, 300px 0px #fcfcfc, 0px 20px #bcbcbc, 20px 20px #fcfcfc, 40px 20px #fcfcfc, 60px 20px #bcbcbc, 80px 20px #fcfcfc, 100px 20px #fcfcfc, 120px 20px #bcbcbc, 140px 20px #bcbcbc, 160px 20px #fcfcfc, 180px 20px #fcfcfc, 200px 20px #bcbcbc, 220px 20px #bcbcbc, 240px 20px #fcfcfc, 260px 20px #fcfcfc, 280px 20px #fcfcfc, 300px 20px #bcbcbc, 0px 40px #bcbcbc, 20px 40px #bcbcbc, 40px 40px #bcbcbc, 60px 40px #fcfcfc, 80px 40px #bcbcbc, 100px 40px #bcbcbc, 120px 40px #fcfcfc, 140px 40px #fcfcfc, 160px 40px #bcbcbc, 180px 40px #bcbcbc, 200px 40px #fcfcfc, 220px 40px #fcfcfc, 240px 40px #bcbcbc, 260px 40px #bcbcbc, 280px 40px #bcbcbc, 300px 40px #bcbcbc, 40px 60px #bcbcbc, 60px 60px #bcbcbc, 80px 60px #fcfcfc, 100px 60px #fcfcfc, 120px 60px #bcbcbc, 140px 60px #bcbcbc, 160px 60px #bcbcbc, 200px 60px #bcbcbc, 220px 60px #bcbcbc, 240px 60px #bcbcbc, 280px 60px #fcfcfc, 80px 80px #bcbcbc, 100px 80px #bcbcbc, 120px 80px #bcbcbc, 20px 100px #fcfcfc, 180px 100px #fcfcfc, 120px 120px #fcfcfc, 260px 120px #fcfcfc, 40px 180px #fcfcfc, 60px 180px #fcfcfc, 20px 200px #fcfcfc, 60px 200px #fcfcfc, 80px 200px #fcfcfc, 120px 220px #fcfcfc, 200px 220px #fcfcfc, 220px 220px #fcfcfc, 240px 220px #fcfcfc, 180px 240px #fcfcfc, 200px 240px #fcfcfc, 240px 240px #fcfcfc, 260px 240px #fcfcfc, 80px 260px #fcfcfc, 300px 260px #fcfcfc, 60px 280px #fcfcfc, 100px 280px #fcfcfc; }

.nwBeachTile {
  width: 320px;
  height: 320px;
  background: #0070ec; }

.nwBeachTile::after {
  content: "";
  display: block;
  background: #bcbcbc;
  width: 20px;
  height: 20px;
  box-shadow: 20px 0px #bcbcbc, 40px 0px #fcfcfc, 60px 0px #bcbcbc, 80px 0px #fcfcfc, 100px 0px #fcfcfc, 120px 0px #bcbcbc, 140px 0px #fcfcfc, 160px 0px #bcbcbc, 180px 0px #bcbcbc, 200px 0px #fcfcfc, 220px 0px #fcfcfc, 240px 0px #bcbcbc, 260px 0px #bcbcbc, 280px 0px #bcbcbc, 300px 0px #fcfcfc, 0px 20px #bcbcbc, 20px 20px #fcfcfc, 40px 20px #fcfcfc, 60px 20px #fcfcfc, 80px 20px #fcfcfc, 100px 20px #bcbcbc, 120px 20px #fcfcfc, 140px 20px #bcbcbc, 160px 20px #fcfcfc, 180px 20px #fcfcfc, 200px 20px #bcbcbc, 220px 20px #bcbcbc, 240px 20px #fcfcfc, 260px 20px #fcfcfc, 280px 20px #fcfcfc, 300px 20px #bcbcbc, 0px 40px #fcfcfc, 20px 40px #fcfcfc, 40px 40px #fcfcfc, 60px 40px #bcbcbc, 80px 40px #bcbcbc, 100px 40px #bcbcbc, 120px 40px #bcbcbc, 140px 40px #bcbcbc, 160px 40px #bcbcbc, 180px 40px #bcbcbc, 200px 40px #fcfcfc, 220px 40px #fcfcfc, 240px 40px #bcbcbc, 260px 40px #bcbcbc, 280px 40px #bcbcbc, 300px 40px #bcbcbc, 0px 60px #bcbcbc, 20px 60px #fcfcfc, 40px 60px #bcbcbc, 60px 60px #bcbcbc, 80px 60px #bcbcbc, 140px 60px #bcbcbc, 160px 60px #bcbcbc, 200px 60px #bcbcbc, 220px 60px #bcbcbc, 240px 60px #bcbcbc, 280px 60px #fcfcfc, 0px 80px #fcfcfc, 20px 80px #fcfcfc, 40px 80px #bcbcbc, 60px 80px #bcbcbc, 120px 80px #fcfcfc, 0px 100px #fcfcfc, 20px 100px #bcbcbc, 40px 100px #bcbcbc, 180px 100px #fcfcfc; }

#main {
  position: relative; }

#pos0-0 {
  position: absolute;
  top: 0px;
  left: 0px; }

#pos0-1 {
  position: absolute;
  top: 0px;
  left: 320px; }

#pos0-2 {
  position: absolute;
  top: 0px;
  left: 640px; }

#pos0-3 {
  position: absolute;
  top: 0px;
  left: 960px; }

#pos0-4 {
  position: absolute;
  top: 0px;
  left: 1280px; }

#pos0-5 {
  position: absolute;
  top: 0px;
  left: 1600px; }

#pos0-6 {
  position: absolute;
  top: 0px;
  left: 1920px; }

#pos0-7 {
  position: absolute;
  top: 0px;
  left: 2240px; }

#pos0-8 {
  position: absolute;
  top: 0px;
  left: 2560px; }

#pos0-9 {
  position: absolute;
  top: 0px;
  left: 2880px; }

#pos0-10 {
  position: absolute;
  top: 0px;
  left: 3200px; }

#pos0-11 {
  position: absolute;
  top: 0px;
  left: 3520px; }

#pos0-12 {
  position: absolute;
  top: 0px;
  left: 3840px; }

#pos0-13 {
  position: absolute;
  top: 0px;
  left: 4160px; }

#pos0-14 {
  position: absolute;
  top: 0px;
  left: 4480px; }

#pos0-15 {
  position: absolute;
  top: 0px;
  left: 4800px; }

#pos1-0 {
  position: absolute;
  top: 320px;
  left: 0px; }

#pos1-1 {
  position: absolute;
  top: 320px;
  left: 320px; }

#pos1-2 {
  position: absolute;
  top: 320px;
  left: 640px; }

#pos1-3 {
  position: absolute;
  top: 320px;
  left: 960px; }

#pos1-4 {
  position: absolute;
  top: 320px;
  left: 1280px; }

#pos1-5 {
  position: absolute;
  top: 320px;
  left: 1600px; }

#pos1-6 {
  position: absolute;
  top: 320px;
  left: 1920px; }

#pos1-7 {
  position: absolute;
  top: 320px;
  left: 2240px; }

#pos1-8 {
  position: absolute;
  top: 320px;
  left: 2560px; }

#pos1-9 {
  position: absolute;
  top: 320px;
  left: 2880px; }

#pos1-10 {
  position: absolute;
  top: 320px;
  left: 3200px; }

#pos1-11 {
  position: absolute;
  top: 320px;
  left: 3520px; }

#pos1-12 {
  position: absolute;
  top: 320px;
  left: 3840px; }

#pos1-13 {
  position: absolute;
  top: 320px;
  left: 4160px; }

#pos1-14 {
  position: absolute;
  top: 320px;
  left: 4480px; }

#pos1-15 {
  position: absolute;
  top: 320px;
  left: 4800px; }

#pos2-0 {
  position: absolute;
  top: 640px;
  left: 0px; }

#pos2-1 {
  position: absolute;
  top: 640px;
  left: 320px; }

#pos2-2 {
  position: absolute;
  top: 640px;
  left: 640px; }

#pos2-3 {
  position: absolute;
  top: 640px;
  left: 960px; }

#pos2-4 {
  position: absolute;
  top: 640px;
  left: 1280px; }

#pos2-5 {
  position: absolute;
  top: 640px;
  left: 1600px; }

#pos2-6 {
  position: absolute;
  top: 640px;
  left: 1920px; }

#pos2-7 {
  position: absolute;
  top: 640px;
  left: 2240px; }

#pos2-8 {
  position: absolute;
  top: 640px;
  left: 2560px; }

#pos2-9 {
  position: absolute;
  top: 640px;
  left: 2880px; }

#pos2-10 {
  position: absolute;
  top: 640px;
  left: 3200px; }

#pos2-11 {
  position: absolute;
  top: 640px;
  left: 3520px; }

#pos2-12 {
  position: absolute;
  top: 640px;
  left: 3840px; }

#pos2-13 {
  position: absolute;
  top: 640px;
  left: 4160px; }

#pos2-14 {
  position: absolute;
  top: 640px;
  left: 4480px; }

#pos2-15 {
  position: absolute;
  top: 640px;
  left: 4800px; }

#pos3-0 {
  position: absolute;
  top: 960px;
  left: 0px; }

#pos3-1 {
  position: absolute;
  top: 960px;
  left: 320px; }

#pos3-2 {
  position: absolute;
  top: 960px;
  left: 640px; }

#pos3-3 {
  position: absolute;
  top: 960px;
  left: 960px; }

#pos3-4 {
  position: absolute;
  top: 960px;
  left: 1280px; }

#pos3-5 {
  position: absolute;
  top: 960px;
  left: 1600px; }

#pos3-6 {
  position: absolute;
  top: 960px;
  left: 1920px; }

#pos3-7 {
  position: absolute;
  top: 960px;
  left: 2240px; }

#pos3-8 {
  position: absolute;
  top: 960px;
  left: 2560px; }

#pos3-9 {
  position: absolute;
  top: 960px;
  left: 2880px; }

#pos3-10 {
  position: absolute;
  top: 960px;
  left: 3200px; }

#pos3-11 {
  position: absolute;
  top: 960px;
  left: 3520px; }

#pos3-12 {
  position: absolute;
  top: 960px;
  left: 3840px; }

#pos3-13 {
  position: absolute;
  top: 960px;
  left: 4160px; }

#pos3-14 {
  position: absolute;
  top: 960px;
  left: 4480px; }

#pos3-15 {
  position: absolute;
  top: 960px;
  left: 4800px; }

#pos4-0 {
  position: absolute;
  top: 1280px;
  left: 0px; }

#pos4-1 {
  position: absolute;
  top: 1280px;
  left: 320px; }

#pos4-2 {
  position: absolute;
  top: 1280px;
  left: 640px; }

#pos4-3 {
  position: absolute;
  top: 1280px;
  left: 960px; }

#pos4-4 {
  position: absolute;
  top: 1280px;
  left: 1280px; }

#pos4-5 {
  position: absolute;
  top: 1280px;
  left: 1600px; }

#pos4-6 {
  position: absolute;
  top: 1280px;
  left: 1920px; }

#pos4-7 {
  position: absolute;
  top: 1280px;
  left: 2240px; }

#pos4-8 {
  position: absolute;
  top: 1280px;
  left: 2560px; }

#pos4-9 {
  position: absolute;
  top: 1280px;
  left: 2880px; }

#pos4-10 {
  position: absolute;
  top: 1280px;
  left: 3200px; }

#pos4-11 {
  position: absolute;
  top: 1280px;
  left: 3520px; }

#pos4-12 {
  position: absolute;
  top: 1280px;
  left: 3840px; }

#pos4-13 {
  position: absolute;
  top: 1280px;
  left: 4160px; }

#pos4-14 {
  position: absolute;
  top: 1280px;
  left: 4480px; }

#pos4-15 {
  position: absolute;
  top: 1280px;
  left: 4800px; }

#pos5-0 {
  position: absolute;
  top: 1600px;
  left: 0px; }

#pos5-1 {
  position: absolute;
  top: 1600px;
  left: 320px; }

#pos5-2 {
  position: absolute;
  top: 1600px;
  left: 640px; }

#pos5-3 {
  position: absolute;
  top: 1600px;
  left: 960px; }

#pos5-4 {
  position: absolute;
  top: 1600px;
  left: 1280px; }

#pos5-5 {
  position: absolute;
  top: 1600px;
  left: 1600px; }

#pos5-6 {
  position: absolute;
  top: 1600px;
  left: 1920px; }

#pos5-7 {
  position: absolute;
  top: 1600px;
  left: 2240px; }

#pos5-8 {
  position: absolute;
  top: 1600px;
  left: 2560px; }

#pos5-9 {
  position: absolute;
  top: 1600px;
  left: 2880px; }

#pos5-10 {
  position: absolute;
  top: 1600px;
  left: 3200px; }

#pos5-11 {
  position: absolute;
  top: 1600px;
  left: 3520px; }

#pos5-12 {
  position: absolute;
  top: 1600px;
  left: 3840px; }

#pos5-13 {
  position: absolute;
  top: 1600px;
  left: 4160px; }

#pos5-14 {
  position: absolute;
  top: 1600px;
  left: 4480px; }

#pos5-15 {
  position: absolute;
  top: 1600px;
  left: 4800px; }

#pos6-0 {
  position: absolute;
  top: 1920px;
  left: 0px; }

#pos6-1 {
  position: absolute;
  top: 1920px;
  left: 320px; }

#pos6-2 {
  position: absolute;
  top: 1920px;
  left: 640px; }

#pos6-3 {
  position: absolute;
  top: 1920px;
  left: 960px; }

#pos6-4 {
  position: absolute;
  top: 1920px;
  left: 1280px; }

#pos6-5 {
  position: absolute;
  top: 1920px;
  left: 1600px; }

#pos6-6 {
  position: absolute;
  top: 1920px;
  left: 1920px; }

#pos6-7 {
  position: absolute;
  top: 1920px;
  left: 2240px; }

#pos6-8 {
  position: absolute;
  top: 1920px;
  left: 2560px; }

#pos6-9 {
  position: absolute;
  top: 1920px;
  left: 2880px; }

#pos6-10 {
  position: absolute;
  top: 1920px;
  left: 3200px; }

#pos6-11 {
  position: absolute;
  top: 1920px;
  left: 3520px; }

#pos6-12 {
  position: absolute;
  top: 1920px;
  left: 3840px; }

#pos6-13 {
  position: absolute;
  top: 1920px;
  left: 4160px; }

#pos6-14 {
  position: absolute;
  top: 1920px;
  left: 4480px; }

#pos6-15 {
  position: absolute;
  top: 1920px;
  left: 4800px; }

#pos7-0 {
  position: absolute;
  top: 2240px;
  left: 0px; }

#pos7-1 {
  position: absolute;
  top: 2240px;
  left: 320px; }

#pos7-2 {
  position: absolute;
  top: 2240px;
  left: 640px; }

#pos7-3 {
  position: absolute;
  top: 2240px;
  left: 960px; }

#pos7-4 {
  position: absolute;
  top: 2240px;
  left: 1280px; }

#pos7-5 {
  position: absolute;
  top: 2240px;
  left: 1600px; }

#pos7-6 {
  position: absolute;
  top: 2240px;
  left: 1920px; }

#pos7-7 {
  position: absolute;
  top: 2240px;
  left: 2240px; }

#pos7-8 {
  position: absolute;
  top: 2240px;
  left: 2560px; }

#pos7-9 {
  position: absolute;
  top: 2240px;
  left: 2880px; }

#pos7-10 {
  position: absolute;
  top: 2240px;
  left: 3200px; }

#pos7-11 {
  position: absolute;
  top: 2240px;
  left: 3520px; }

#pos7-12 {
  position: absolute;
  top: 2240px;
  left: 3840px; }

#pos7-13 {
  position: absolute;
  top: 2240px;
  left: 4160px; }

#pos7-14 {
  position: absolute;
  top: 2240px;
  left: 4480px; }

#pos7-15 {
  position: absolute;
  top: 2240px;
  left: 4800px; }

#pos8-0 {
  position: absolute;
  top: 2560px;
  left: 0px; }

#pos8-1 {
  position: absolute;
  top: 2560px;
  left: 320px; }

#pos8-2 {
  position: absolute;
  top: 2560px;
  left: 640px; }

#pos8-3 {
  position: absolute;
  top: 2560px;
  left: 960px; }

#pos8-4 {
  position: absolute;
  top: 2560px;
  left: 1280px; }

#pos8-5 {
  position: absolute;
  top: 2560px;
  left: 1600px; }

#pos8-6 {
  position: absolute;
  top: 2560px;
  left: 1920px; }

#pos8-7 {
  position: absolute;
  top: 2560px;
  left: 2240px; }

#pos8-8 {
  position: absolute;
  top: 2560px;
  left: 2560px; }

#pos8-9 {
  position: absolute;
  top: 2560px;
  left: 2880px; }

#pos8-10 {
  position: absolute;
  top: 2560px;
  left: 3200px; }

#pos8-11 {
  position: absolute;
  top: 2560px;
  left: 3520px; }

#pos8-12 {
  position: absolute;
  top: 2560px;
  left: 3840px; }

#pos8-13 {
  position: absolute;
  top: 2560px;
  left: 4160px; }

#pos8-14 {
  position: absolute;
  top: 2560px;
  left: 4480px; }

#pos8-15 {
  position: absolute;
  top: 2560px;
  left: 4800px; }

#pos9-0 {
  position: absolute;
  top: 2880px;
  left: 0px; }

#pos9-1 {
  position: absolute;
  top: 2880px;
  left: 320px; }

#pos9-2 {
  position: absolute;
  top: 2880px;
  left: 640px; }

#pos9-3 {
  position: absolute;
  top: 2880px;
  left: 960px; }

#pos9-4 {
  position: absolute;
  top: 2880px;
  left: 1280px; }

#pos9-5 {
  position: absolute;
  top: 2880px;
  left: 1600px; }

#pos9-6 {
  position: absolute;
  top: 2880px;
  left: 1920px; }

#pos9-7 {
  position: absolute;
  top: 2880px;
  left: 2240px; }

#pos9-8 {
  position: absolute;
  top: 2880px;
  left: 2560px; }

#pos9-9 {
  position: absolute;
  top: 2880px;
  left: 2880px; }

#pos9-10 {
  position: absolute;
  top: 2880px;
  left: 3200px; }

#pos9-11 {
  position: absolute;
  top: 2880px;
  left: 3520px; }

#pos9-12 {
  position: absolute;
  top: 2880px;
  left: 3840px; }

#pos9-13 {
  position: absolute;
  top: 2880px;
  left: 4160px; }

#pos9-14 {
  position: absolute;
  top: 2880px;
  left: 4480px; }

#pos9-15 {
  position: absolute;
  top: 2880px;
  left: 4800px; }

#pos10-0 {
  position: absolute;
  top: 3200px;
  left: 0px; }

#pos10-1 {
  position: absolute;
  top: 3200px;
  left: 320px; }

#pos10-2 {
  position: absolute;
  top: 3200px;
  left: 640px; }

#pos10-3 {
  position: absolute;
  top: 3200px;
  left: 960px; }

#pos10-4 {
  position: absolute;
  top: 3200px;
  left: 1280px; }

#pos10-5 {
  position: absolute;
  top: 3200px;
  left: 1600px; }

#pos10-6 {
  position: absolute;
  top: 3200px;
  left: 1920px; }

#pos10-7 {
  position: absolute;
  top: 3200px;
  left: 2240px; }

#pos10-8 {
  position: absolute;
  top: 3200px;
  left: 2560px; }

#pos10-9 {
  position: absolute;
  top: 3200px;
  left: 2880px; }

#pos10-10 {
  position: absolute;
  top: 3200px;
  left: 3200px; }

#pos10-11 {
  position: absolute;
  top: 3200px;
  left: 3520px; }

#pos10-12 {
  position: absolute;
  top: 3200px;
  left: 3840px; }

#pos10-13 {
  position: absolute;
  top: 3200px;
  left: 4160px; }

#pos10-14 {
  position: absolute;
  top: 3200px;
  left: 4480px; }

#pos10-15 {
  position: absolute;
  top: 3200px;
  left: 4800px; }

#pos11-0 {
  position: absolute;
  top: 3520px;
  left: 0px; }

#pos11-1 {
  position: absolute;
  top: 3520px;
  left: 320px; }

#pos11-2 {
  position: absolute;
  top: 3520px;
  left: 640px; }

#pos11-3 {
  position: absolute;
  top: 3520px;
  left: 960px; }

#pos11-4 {
  position: absolute;
  top: 3520px;
  left: 1280px; }

#pos11-5 {
  position: absolute;
  top: 3520px;
  left: 1600px; }

#pos11-6 {
  position: absolute;
  top: 3520px;
  left: 1920px; }

#pos11-7 {
  position: absolute;
  top: 3520px;
  left: 2240px; }

#pos11-8 {
  position: absolute;
  top: 3520px;
  left: 2560px; }

#pos11-9 {
  position: absolute;
  top: 3520px;
  left: 2880px; }

#pos11-10 {
  position: absolute;
  top: 3520px;
  left: 3200px; }

#pos11-11 {
  position: absolute;
  top: 3520px;
  left: 3520px; }

#pos11-12 {
  position: absolute;
  top: 3520px;
  left: 3840px; }

#pos11-13 {
  position: absolute;
  top: 3520px;
  left: 4160px; }

#pos11-14 {
  position: absolute;
  top: 3520px;
  left: 4480px; }

#pos11-15 {
  position: absolute;
  top: 3520px;
  left: 4800px; }

#pos12-0 {
  position: absolute;
  top: 3840px;
  left: 0px; }

#pos12-1 {
  position: absolute;
  top: 3840px;
  left: 320px; }

#pos12-2 {
  position: absolute;
  top: 3840px;
  left: 640px; }

#pos12-3 {
  position: absolute;
  top: 3840px;
  left: 960px; }

#pos12-4 {
  position: absolute;
  top: 3840px;
  left: 1280px; }

#pos12-5 {
  position: absolute;
  top: 3840px;
  left: 1600px; }

#pos12-6 {
  position: absolute;
  top: 3840px;
  left: 1920px; }

#pos12-7 {
  position: absolute;
  top: 3840px;
  left: 2240px; }

#pos12-8 {
  position: absolute;
  top: 3840px;
  left: 2560px; }

#pos12-9 {
  position: absolute;
  top: 3840px;
  left: 2880px; }

#pos12-10 {
  position: absolute;
  top: 3840px;
  left: 3200px; }

#pos12-11 {
  position: absolute;
  top: 3840px;
  left: 3520px; }

#pos12-12 {
  position: absolute;
  top: 3840px;
  left: 3840px; }

#pos12-13 {
  position: absolute;
  top: 3840px;
  left: 4160px; }

#pos12-14 {
  position: absolute;
  top: 3840px;
  left: 4480px; }

#pos12-15 {
  position: absolute;
  top: 3840px;
  left: 4800px; }

#pos13-0 {
  position: absolute;
  top: 4160px;
  left: 0px; }

#pos13-1 {
  position: absolute;
  top: 4160px;
  left: 320px; }

#pos13-2 {
  position: absolute;
  top: 4160px;
  left: 640px; }

#pos13-3 {
  position: absolute;
  top: 4160px;
  left: 960px; }

#pos13-4 {
  position: absolute;
  top: 4160px;
  left: 1280px; }

#pos13-5 {
  position: absolute;
  top: 4160px;
  left: 1600px; }

#pos13-6 {
  position: absolute;
  top: 4160px;
  left: 1920px; }

#pos13-7 {
  position: absolute;
  top: 4160px;
  left: 2240px; }

#pos13-8 {
  position: absolute;
  top: 4160px;
  left: 2560px; }

#pos13-9 {
  position: absolute;
  top: 4160px;
  left: 2880px; }

#pos13-10 {
  position: absolute;
  top: 4160px;
  left: 3200px; }

#pos13-11 {
  position: absolute;
  top: 4160px;
  left: 3520px; }

#pos13-12 {
  position: absolute;
  top: 4160px;
  left: 3840px; }

#pos13-13 {
  position: absolute;
  top: 4160px;
  left: 4160px; }

#pos13-14 {
  position: absolute;
  top: 4160px;
  left: 4480px; }

#pos13-15 {
  position: absolute;
  top: 4160px;
  left: 4800px; }

#pos14-0 {
  position: absolute;
  top: 4480px;
  left: 0px; }

#pos14-1 {
  position: absolute;
  top: 4480px;
  left: 320px; }

#pos14-2 {
  position: absolute;
  top: 4480px;
  left: 640px; }

#pos14-3 {
  position: absolute;
  top: 4480px;
  left: 960px; }

#pos14-4 {
  position: absolute;
  top: 4480px;
  left: 1280px; }

#pos14-5 {
  position: absolute;
  top: 4480px;
  left: 1600px; }

#pos14-6 {
  position: absolute;
  top: 4480px;
  left: 1920px; }

#pos14-7 {
  position: absolute;
  top: 4480px;
  left: 2240px; }

#pos14-8 {
  position: absolute;
  top: 4480px;
  left: 2560px; }

#pos14-9 {
  position: absolute;
  top: 4480px;
  left: 2880px; }

#pos14-10 {
  position: absolute;
  top: 4480px;
  left: 3200px; }

#pos14-11 {
  position: absolute;
  top: 4480px;
  left: 3520px; }

#pos14-12 {
  position: absolute;
  top: 4480px;
  left: 3840px; }

#pos14-13 {
  position: absolute;
  top: 4480px;
  left: 4160px; }

#pos14-14 {
  position: absolute;
  top: 4480px;
  left: 4480px; }

#pos14-15 {
  position: absolute;
  top: 4480px;
  left: 4800px; }

#pos15-0 {
  position: absolute;
  top: 4800px;
  left: 0px; }

#pos15-1 {
  position: absolute;
  top: 4800px;
  left: 320px; }

#pos15-2 {
  position: absolute;
  top: 4800px;
  left: 640px; }

#pos15-3 {
  position: absolute;
  top: 4800px;
  left: 960px; }

#pos15-4 {
  position: absolute;
  top: 4800px;
  left: 1280px; }

#pos15-5 {
  position: absolute;
  top: 4800px;
  left: 1600px; }

#pos15-6 {
  position: absolute;
  top: 4800px;
  left: 1920px; }

#pos15-7 {
  position: absolute;
  top: 4800px;
  left: 2240px; }

#pos15-8 {
  position: absolute;
  top: 4800px;
  left: 2560px; }

#pos15-9 {
  position: absolute;
  top: 4800px;
  left: 2880px; }

#pos15-10 {
  position: absolute;
  top: 4800px;
  left: 3200px; }

#pos15-11 {
  position: absolute;
  top: 4800px;
  left: 3520px; }

#pos15-12 {
  position: absolute;
  top: 4800px;
  left: 3840px; }

#pos15-13 {
  position: absolute;
  top: 4800px;
  left: 4160px; }

#pos15-14 {
  position: absolute;
  top: 4800px;
  left: 4480px; }

#pos15-15 {
  position: absolute;
  top: 4800px;
  left: 4800px; }

/*# sourceMappingURL=style.css.map */
