$main-fonts: Arial, sans-serif;
$headings-color: red;
$lightGrassColor: rgb(128, 208, 16);
$darkGrassColor: rgb(0, 168, 0);

@mixin oneTile {
  width: 64px;
  height: 64px;
}

@mixin onePixel {
  width: 4px;
  height: 4px;
}

h1 {
  font-family: $main-fonts;
  color: $headings-color;
}

#grassTile {
  box-shadow:
  //row 1
  4px 0px $lightGrassColor,
  8px 0px $lightGrassColor,
  12px 0px $lightGrassColor,
  16px 0px $lightGrassColor,
  20px 0px $darkGrassColor,
  24px 0px $lightGrassColor,
  28px 0px $lightGrassColor,
  32px 0px $lightGrassColor,
  36px 0px $lightGrassColor,
  40px 0px $lightGrassColor,
  44px 0px $lightGrassColor,
  48px 0px $lightGrassColor,
  52px 0px $darkGrassColor,
  56px 0px $lightGrassColor,
  60px 0px $lightGrassColor,
  //row 2
  0px 4px $lightGrassColor,
  4px 4px $lightGrassColor,
  8px 4px $darkGrassColor,
  12px 4px $lightGrassColor,
  16px 4px $lightGrassColor,
  20px 4px $lightGrassColor,
  24px 4px $lightGrassColor,
  28px 4px $lightGrassColor,
  32px 4px $lightGrassColor,
  36px 4px $lightGrassColor,
  40px 4px $darkGrassColor,
  44px 4px $lightGrassColor,
  48px 4px $lightGrassColor,
  52px 4px $lightGrassColor,
  56px 4px $lightGrassColor,
  60px 4px $lightGrassColor,
  //row 3
  0px 8px $lightGrassColor,
  4px 8px $lightGrassColor,
  8px 8px $lightGrassColor,
  12px 8px $lightGrassColor,
  16px 8px $lightGrassColor,
  20px 8px $lightGrassColor,
  24px 8px $lightGrassColor,
  28px 8px $lightGrassColor,
  32px 8px $lightGrassColor,
  36px 8px $lightGrassColor,
  40px 8px $lightGrassColor,
  44px 8px $lightGrassColor,
  48px 8px $lightGrassColor,
  52px 8px $lightGrassColor,
  56px 8px $lightGrassColor,
  60px 8px $lightGrassColor,
  //row 4
  0px 12px $lightGrassColor,
  4px 12px $lightGrassColor,
  8px 12px $lightGrassColor,
  12px 12px $lightGrassColor,
  16px 12px $lightGrassColor,
  20px 12px $lightGrassColor,
  24px 12px $darkGrassColor,
  28px 12px $lightGrassColor,
  32px 12px $lightGrassColor,
  36px 12px $lightGrassColor,
  40px 12px $lightGrassColor,
  44px 12px $lightGrassColor,
  48px 12px $lightGrassColor,
  52px 12px $lightGrassColor,
  56px 12px $darkGrassColor,
  60px 12px $lightGrassColor,
  //row 5
  0px 16px $lightGrassColor,
  4px 16px $darkGrassColor,
  8px 16px $lightGrassColor,
  12px 16px $lightGrassColor,
  16px 16px $lightGrassColor,
  20px 16px $lightGrassColor,
  24px 16px $lightGrassColor,
  28px 16px $lightGrassColor,
  32px 16px $lightGrassColor,
  36px 16px $darkGrassColor,
  40px 16px $lightGrassColor,
  44px 16px $lightGrassColor,
  48px 16px $lightGrassColor,
  52px 16px $lightGrassColor,
  56px 16px $lightGrassColor,
  60px 16px $lightGrassColor,
  //row 6
  0px 20px $lightGrassColor,
  4px 20px $lightGrassColor,
  8px 20px $lightGrassColor,
  12px 20px $lightGrassColor,
  16px 20px $lightGrassColor,
  20px 20px $lightGrassColor,
  24px 20px $lightGrassColor,
  28px 20px $lightGrassColor,
  32px 20px $lightGrassColor,
  36px 20px $lightGrassColor,
  40px 20px $lightGrassColor,
  44px 20px $lightGrassColor,
  48px 20px $lightGrassColor,
  52px 20px $lightGrassColor,
  56px 20px $lightGrassColor,
  60px 20px $lightGrassColor,
  //row 7
  0px 24px $lightGrassColor,
  4px 24px $lightGrassColor,
  8px 24px $lightGrassColor,
  12px 24px $darkGrassColor,
  16px 24px $lightGrassColor,
  20px 24px $lightGrassColor,
  24px 24px $lightGrassColor,
  28px 24px $lightGrassColor,
  32px 24px $lightGrassColor,
  36px 24px $lightGrassColor,
  40px 24px $lightGrassColor,
  44px 24px $darkGrassColor,
  48px 24px $lightGrassColor,
  52px 24px $lightGrassColor,
  56px 24px $lightGrassColor,
  60px 24px $lightGrassColor,
  //row 8
  0px 28px $lightGrassColor,
  4px 28px $lightGrassColor,
  8px 28px $lightGrassColor,
  12px 28px $lightGrassColor,
  16px 28px $lightGrassColor,
  20px 28px $lightGrassColor,
  24px 28px $lightGrassColor,
  28px 28px $lightGrassColor,
  32px 28px $lightGrassColor,
  36px 28px $lightGrassColor,
  40px 28px $lightGrassColor,
  44px 28px $lightGrassColor,
  48px 28px $lightGrassColor,
  52px 28px $lightGrassColor,
  56px 28px $lightGrassColor,
  60px 28px $lightGrassColor,
  //row 9 same as 1
  0px 32px $lightGrassColor,
  4px 32px $lightGrassColor,
  8px 32px $lightGrassColor,
  12px 32px $lightGrassColor,
  16px 32px $lightGrassColor,
  20px 32px $darkGrassColor,
  24px 32px $lightGrassColor,
  28px 32px $lightGrassColor,
  32px 32px $lightGrassColor,
  36px 32px $lightGrassColor,
  40px 32px $lightGrassColor,
  44px 32px $lightGrassColor,
  48px 32px $lightGrassColor,
  52px 32px $darkGrassColor,
  56px 32px $lightGrassColor,
  60px 32px $lightGrassColor,
  //row 10 same as 2
  0px 36px $lightGrassColor,
  4px 36px $lightGrassColor,
  8px 36px $darkGrassColor,
  12px 36px $lightGrassColor,
  16px 36px $lightGrassColor,
  20px 36px $lightGrassColor,
  24px 36px $lightGrassColor,
  28px 36px $lightGrassColor,
  32px 36px $lightGrassColor,
  36px 36px $lightGrassColor,
  40px 36px $darkGrassColor,
  44px 36px $lightGrassColor,
  48px 36px $lightGrassColor,
  52px 36px $lightGrassColor,
  56px 36px $lightGrassColor,
  60px 36px $lightGrassColor,
  //row 11 same as 3
  0px 40px $lightGrassColor,
  4px 40px $lightGrassColor,
  8px 40px $lightGrassColor,
  12px 40px $lightGrassColor,
  16px 40px $lightGrassColor,
  20px 40px $lightGrassColor,
  24px 40px $lightGrassColor,
  28px 40px $lightGrassColor,
  32px 40px $lightGrassColor,
  36px 40px $lightGrassColor,
  40px 40px $lightGrassColor,
  44px 40px $lightGrassColor,
  48px 40px $lightGrassColor,
  52px 40px $lightGrassColor,
  56px 40px $lightGrassColor,
  60px 40px $lightGrassColor,
  //row 12 same as 4
  0px 44px $lightGrassColor,
  4px 44px $lightGrassColor,
  8px 44px $lightGrassColor,
  12px 44px $lightGrassColor,
  16px 44px $lightGrassColor,
  20px 44px $lightGrassColor,
  24px 44px $darkGrassColor,
  28px 44px $lightGrassColor,
  32px 44px $lightGrassColor,
  36px 44px $lightGrassColor,
  40px 44px $lightGrassColor,
  44px 44px $lightGrassColor,
  48px 44px $lightGrassColor,
  52px 44px $lightGrassColor,
  56px 44px $darkGrassColor,
  60px 44px $lightGrassColor,
  //row 13 same as 5
  0px 48px $lightGrassColor,
  4px 48px $darkGrassColor,
  8px 48px $lightGrassColor,
  12px 48px $lightGrassColor,
  16px 48px $lightGrassColor,
  20px 48px $lightGrassColor,
  24px 48px $lightGrassColor,
  28px 48px $lightGrassColor,
  32px 48px $lightGrassColor,
  36px 48px $darkGrassColor,
  40px 48px $lightGrassColor,
  44px 48px $lightGrassColor,
  48px 48px $lightGrassColor,
  52px 48px $lightGrassColor,
  56px 48px $lightGrassColor,
  60px 48px $lightGrassColor,
  //row 14 same as 6
  0px 52px $lightGrassColor,
  4px 52px $lightGrassColor,
  8px 52px $lightGrassColor,
  12px 52px $lightGrassColor,
  16px 52px $lightGrassColor,
  20px 52px $lightGrassColor,
  24px 52px $lightGrassColor,
  28px 52px $lightGrassColor,
  32px 52px $lightGrassColor,
  36px 52px $lightGrassColor,
  40px 52px $lightGrassColor,
  44px 52px $lightGrassColor,
  48px 52px $lightGrassColor,
  52px 52px $lightGrassColor,
  56px 52px $lightGrassColor,
  60px 52px $lightGrassColor,
  //row 15 same as 7
  0px 56px $lightGrassColor,
  4px 56px $lightGrassColor,
  8px 56px $lightGrassColor,
  12px 56px $darkGrassColor,
  16px 56px $lightGrassColor,
  20px 56px $lightGrassColor,
  24px 56px $lightGrassColor,
  28px 56px $lightGrassColor,
  32px 56px $lightGrassColor,
  36px 56px $lightGrassColor,
  40px 56px $lightGrassColor,
  44px 56px $darkGrassColor,
  48px 56px $lightGrassColor,
  52px 56px $lightGrassColor,
  56px 56px $lightGrassColor,
  60px 56px $lightGrassColor,
  //row 16 same as 8
  0px 60px $lightGrassColor,
  4px 60px $lightGrassColor,
  8px 60px $lightGrassColor,
  12px 60px $lightGrassColor,
  16px 60px $lightGrassColor,
  20px 60px $lightGrassColor,
  24px 60px $lightGrassColor,
  28px 60px $lightGrassColor,
  32px 60px $lightGrassColor,
  36px 60px $lightGrassColor,
  40px 60px $lightGrassColor,
  44px 60px $lightGrassColor,
  48px 60px $lightGrassColor,
  52px 60px $lightGrassColor,
  56px 60px $lightGrassColor,
  60px 60px $lightGrassColor;


  background: $lightGrassColor;
  width: 4px;
  height: 4px;
}
