$lightGrassColor: rgb(128, 208, 16); //same as light green in tree
$darkGrassColor: rgb(0, 168, 0); //same as dark green in tree
$black: rgb(0, 0,0);
$treeTrunkBrown: rgb(252, 152, 56);
$hillTan: rgb(252, 216, 168);
$pixelWidth: 4px;
$pixelHeight: 4px;
$col1: $pixelWidth * 0;
$col2: $pixelWidth * 1;
$col3: $pixelWidth * 2;
$col4: $pixelWidth * 3;
$col5: $pixelWidth * 4;
$col6: $pixelWidth * 5;
$col7: $pixelWidth * 6;
$col8: $pixelWidth * 7;
$col9: $pixelWidth * 8;
$col10: $pixelWidth * 9;
$col11: $pixelWidth * 10;
$col12: $pixelWidth * 11;
$col13: $pixelWidth * 12;
$col14: $pixelWidth * 13;
$col15: $pixelWidth * 14;
$col16: $pixelWidth * 15;
$row1: $pixelHeight * 0;
$row2: $pixelHeight * 1;
$row3: $pixelHeight * 2;
$row4: $pixelHeight * 3;
$row5: $pixelHeight * 4;
$row6: $pixelHeight * 5;
$row7: $pixelHeight * 6;
$row8: $pixelHeight * 7;
$row9: $pixelHeight * 8;
$row10: $pixelHeight * 9;
$row11: $pixelHeight * 10;
$row12: $pixelHeight * 11;
$row13: $pixelHeight * 12;
$row14: $pixelHeight * 13;
$row15: $pixelHeight * 14;
$row16: $pixelHeight * 15;



@mixin oneTile {
  width: $pixelWidth * 16;
  height: $pixelHeight * 16;
}

@mixin onePixel {
  width: $pixelWidth;
  height: $pixelHeight;
}

#grassTile div {
  box-shadow:
  //row 1
  $col2 $row1 $lightGrassColor,
  $col3 $row1 $lightGrassColor,
  $col4 $row1 $lightGrassColor,
  $col5 $row1 $lightGrassColor,
  $col6 $row1 $darkGrassColor,
  $col7 $row1 $lightGrassColor,
  $col8 $row1 $lightGrassColor,
  $col9 $row1 $lightGrassColor,
  $col10 $row1 $lightGrassColor,
  $col11 $row1 $lightGrassColor,
  $col12 $row1 $lightGrassColor,
  $col13 $row1 $lightGrassColor,
  $col14 $row1 $darkGrassColor,
  $col15 $row1 $lightGrassColor,
  $col16 $row1 $lightGrassColor,
  //row 2
  $col1 $row2 $lightGrassColor,
  $col2 $row2 $lightGrassColor,
  $col3 $row2 $darkGrassColor,
  $col4 $row2 $lightGrassColor,
  $col5 $row2 $lightGrassColor,
  $col6 $row2 $lightGrassColor,
  $col7 $row2 $lightGrassColor,
  $col8 $row2 $lightGrassColor,
  $col9 $row2 $lightGrassColor,
  $col10 $row2 $lightGrassColor,
  $col11 $row2 $darkGrassColor,
  $col12 $row2 $lightGrassColor,
  $col13 $row2 $lightGrassColor,
  $col14 $row2 $lightGrassColor,
  $col15 $row2 $lightGrassColor,
  $col16 $row2 $lightGrassColor,
  //row 3
  $col1 $row3 $lightGrassColor,
  $col2 $row3 $lightGrassColor,
  $col3 $row3 $lightGrassColor,
  $col4 $row3 $lightGrassColor,
  $col5 $row3 $lightGrassColor,
  $col6 $row3 $lightGrassColor,
  $col7 $row3 $lightGrassColor,
  $col8 $row3 $lightGrassColor,
  $col9 $row3 $lightGrassColor,
  $col10 $row3 $lightGrassColor,
  $col11 $row3 $lightGrassColor,
  $col12 $row3 $lightGrassColor,
  $col13 $row3 $lightGrassColor,
  $col14 $row3 $lightGrassColor,
  $col15 $row3 $lightGrassColor,
  $col16 $row3 $lightGrassColor,
  //row 4
  $col1 $row4 $lightGrassColor,
  $col2 $row4 $lightGrassColor,
  $col3 $row4 $lightGrassColor,
  $col4 $row4 $lightGrassColor,
  $col5 $row4 $lightGrassColor,
  $col6 $row4 $lightGrassColor,
  $col7 $row4 $darkGrassColor,
  $col8 $row4 $lightGrassColor,
  $col9 $row4 $lightGrassColor,
  $col10 $row4 $lightGrassColor,
  $col11 $row4 $lightGrassColor,
  $col12 $row4 $lightGrassColor,
  $col13 $row4 $lightGrassColor,
  $col14 $row4 $lightGrassColor,
  $col15 $row4 $darkGrassColor,
  $col16 $row4 $lightGrassColor,
  //row 5
  $col1 $row5 $lightGrassColor,
  $col2 $row5 $darkGrassColor,
  $col3 $row5 $lightGrassColor,
  $col4 $row5 $lightGrassColor,
  $col5 $row5 $lightGrassColor,
  $col6 $row5 $lightGrassColor,
  $col7 $row5 $lightGrassColor,
  $col8 $row5 $lightGrassColor,
  $col9 $row5 $lightGrassColor,
  $col10 $row5 $darkGrassColor,
  $col11 $row5 $lightGrassColor,
  $col12 $row5 $lightGrassColor,
  $col13 $row5 $lightGrassColor,
  $col14 $row5 $lightGrassColor,
  $col15 $row5 $lightGrassColor,
  $col16 $row5 $lightGrassColor,
  //row 6
  $col1 $row6 $lightGrassColor,
  $col2 $row6 $lightGrassColor,
  $col3 $row6 $lightGrassColor,
  $col4 $row6 $lightGrassColor,
  $col5 $row6 $lightGrassColor,
  $col6 $row6 $lightGrassColor,
  $col7 $row6 $lightGrassColor,
  $col8 $row6 $lightGrassColor,
  $col9 $row6 $lightGrassColor,
  $col10 $row6 $lightGrassColor,
  $col11 $row6 $lightGrassColor,
  $col12 $row6 $lightGrassColor,
  $col13 $row6 $lightGrassColor,
  $col14 $row6 $lightGrassColor,
  $col15 $row6 $lightGrassColor,
  $col16 $row6 $lightGrassColor,
  //row 7
  $col1 $row7 $lightGrassColor,
  $col2 $row7 $lightGrassColor,
  $col3 $row7 $lightGrassColor,
  $col4 $row7 $darkGrassColor,
  $col5 $row7 $lightGrassColor,
  $col6 $row7 $lightGrassColor,
  $col7 $row7 $lightGrassColor,
  $col8 $row7 $lightGrassColor,
  $col9 $row7 $lightGrassColor,
  $col10 $row7 $lightGrassColor,
  $col11 $row7 $lightGrassColor,
  $col12 $row7 $darkGrassColor,
  $col13 $row7 $lightGrassColor,
  $col14 $row7 $lightGrassColor,
  $col15 $row7 $lightGrassColor,
  $col16 $row7 $lightGrassColor,
  //row 8
  $col1 $row8 $lightGrassColor,
  $col2 $row8 $lightGrassColor,
  $col3 $row8 $lightGrassColor,
  $col4 $row8 $lightGrassColor,
  $col5 $row8 $lightGrassColor,
  $col6 $row8 $lightGrassColor,
  $col7 $row8 $lightGrassColor,
  $col8 $row8 $lightGrassColor,
  $col9 $row8 $lightGrassColor,
  $col10 $row8 $lightGrassColor,
  $col11 $row8 $lightGrassColor,
  $col12 $row8 $lightGrassColor,
  $col13 $row8 $lightGrassColor,
  $col14 $row8 $lightGrassColor,
  $col15 $row8 $lightGrassColor,
  $col16 $row8 $lightGrassColor,
  //row 9 same as 1
  $col1 $row9 $lightGrassColor,
  $col2 $row9 $lightGrassColor,
  $col3 $row9 $lightGrassColor,
  $col4 $row9 $lightGrassColor,
  $col5 $row9 $lightGrassColor,
  $col6 $row9 $darkGrassColor,
  $col7 $row9 $lightGrassColor,
  $col8 $row9 $lightGrassColor,
  $col9 $row9 $lightGrassColor,
  $col10 $row9 $lightGrassColor,
  $col11 $row9 $lightGrassColor,
  $col12 $row9 $lightGrassColor,
  $col13 $row9 $lightGrassColor,
  $col14 $row9 $darkGrassColor,
  $col15 $row9 $lightGrassColor,
  $col16 $row9 $lightGrassColor,
  //row 10 same as 2
  $col1 $row10 $lightGrassColor,
  $col2 $row10 $lightGrassColor,
  $col3 $row10 $darkGrassColor,
  $col4 $row10 $lightGrassColor,
  $col5 $row10 $lightGrassColor,
  $col6 $row10 $lightGrassColor,
  $col7 $row10 $lightGrassColor,
  $col8 $row10 $lightGrassColor,
  $col9 $row10 $lightGrassColor,
  $col10 $row10 $lightGrassColor,
  $col11 $row10 $darkGrassColor,
  $col12 $row10 $lightGrassColor,
  $col13 $row10 $lightGrassColor,
  $col14 $row10 $lightGrassColor,
  $col15 $row10 $lightGrassColor,
  $col16 $row10 $lightGrassColor,
  //row 11 same as 3
  $col1 $row11 $lightGrassColor,
  $col2 $row11 $lightGrassColor,
  $col3 $row11 $lightGrassColor,
  $col4 $row11 $lightGrassColor,
  $col5 $row11 $lightGrassColor,
  $col6 $row11 $lightGrassColor,
  $col7 $row11 $lightGrassColor,
  $col8 $row11 $lightGrassColor,
  $col9 $row11 $lightGrassColor,
  $col10 $row11 $lightGrassColor,
  $col11 $row11 $lightGrassColor,
  $col12 $row11 $lightGrassColor,
  $col13 $row11 $lightGrassColor,
  $col14 $row11 $lightGrassColor,
  $col15 $row11 $lightGrassColor,
  $col16 $row11 $lightGrassColor,
  //row 12 same as 4
  $col1 $row12 $lightGrassColor,
  $col2 $row12 $lightGrassColor,
  $col3 $row12 $lightGrassColor,
  $col4 $row12 $lightGrassColor,
  $col5 $row12 $lightGrassColor,
  $col6 $row12 $lightGrassColor,
  $col7 $row12 $darkGrassColor,
  $col8 $row12 $lightGrassColor,
  $col9 $row12 $lightGrassColor,
  $col10 $row12 $lightGrassColor,
  $col11 $row12 $lightGrassColor,
  $col12 $row12 $lightGrassColor,
  $col13 $row12 $lightGrassColor,
  $col14 $row12 $lightGrassColor,
  $col15 $row12 $darkGrassColor,
  $col16 $row12 $lightGrassColor,
  //row 13 same as 5
  $col1 $row13 $lightGrassColor,
  $col2 $row13 $darkGrassColor,
  $col3 $row13 $lightGrassColor,
  $col4 $row13 $lightGrassColor,
  $col5 $row13 $lightGrassColor,
  $col6 $row13 $lightGrassColor,
  $col7 $row13 $lightGrassColor,
  $col8 $row13 $lightGrassColor,
  $col9 $row13 $lightGrassColor,
  $col10 $row13 $darkGrassColor,
  $col11 $row13 $lightGrassColor,
  $col12 $row13 $lightGrassColor,
  $col13 $row13 $lightGrassColor,
  $col14 $row13 $lightGrassColor,
  $col15 $row13 $lightGrassColor,
  $col16 $row13 $lightGrassColor,
  //row 14 same as 6
  $col1 $row14 $lightGrassColor,
  $col2 $row14 $lightGrassColor,
  $col3 $row14 $lightGrassColor,
  $col4 $row14 $lightGrassColor,
  $col5 $row14 $lightGrassColor,
  $col6 $row14 $lightGrassColor,
  $col7 $row14 $lightGrassColor,
  $col8 $row14 $lightGrassColor,
  $col9 $row14 $lightGrassColor,
  $col10 $row14 $lightGrassColor,
  $col11 $row14 $lightGrassColor,
  $col12 $row14 $lightGrassColor,
  $col13 $row14 $lightGrassColor,
  $col14 $row14 $lightGrassColor,
  $col15 $row14 $lightGrassColor,
  $col16 $row14 $lightGrassColor,
  //row 15 same as 7
  $col1 $row15 $lightGrassColor,
  $col2 $row15 $lightGrassColor,
  $col3 $row15 $lightGrassColor,
  $col4 $row15 $darkGrassColor,
  $col5 $row15 $lightGrassColor,
  $col6 $row15 $lightGrassColor,
  $col7 $row15 $lightGrassColor,
  $col8 $row15 $lightGrassColor,
  $col9 $row15 $lightGrassColor,
  $col10 $row15 $lightGrassColor,
  $col11 $row15 $lightGrassColor,
  $col12 $row15 $darkGrassColor,
  $col13 $row15 $lightGrassColor,
  $col14 $row15 $lightGrassColor,
  $col15 $row15 $lightGrassColor,
  $col16 $row15 $lightGrassColor,
  //row 16 same as 8
  $col1 $row16 $lightGrassColor,
  $col2 $row16 $lightGrassColor,
  $col3 $row16 $lightGrassColor,
  $col4 $row16 $lightGrassColor,
  $col5 $row16 $lightGrassColor,
  $col6 $row16 $lightGrassColor,
  $col7 $row16 $lightGrassColor,
  $col8 $row16 $lightGrassColor,
  $col9 $row16 $lightGrassColor,
  $col10 $row16 $lightGrassColor,
  $col11 $row16 $lightGrassColor,
  $col12 $row16 $lightGrassColor,
  $col13 $row16 $lightGrassColor,
  $col14 $row16 $lightGrassColor,
  $col15 $row16 $lightGrassColor,
  $col16 $row16 $lightGrassColor;

  display: relative;
  float: left;
  margin-right: 60px;
  background: $lightGrassColor;
  width: $pixelWidth;
  height: $pixelHeight;
}

.grassTile2 {
  @include oneTile;
  background: $lightGrassColor;
}

.grassTile2::after {
  content: "";
  box-shadow:
  //row 1
  $col6 $row1 $darkGrassColor,
  $col14 $row1 $darkGrassColor,
  //row 2
  $col3 $row2 $darkGrassColor,
  $col11 $row2 $darkGrassColor,
  //row 3
  //row 4
  $col7 $row4 $darkGrassColor,
  $col15 $row4 $darkGrassColor,
  //row 5
  $col2 $row5 $darkGrassColor,
  $col10 $row5 $darkGrassColor,
  //row 6
  //row 7
  $col4 $row7 $darkGrassColor,
  $col12 $row7 $darkGrassColor,
  //row 8
  //row 9 same as 1
  $col6 $row9 $darkGrassColor,
  $col14 $row9 $darkGrassColor,
  //row 10 same as 2
  $col3 $row10 $darkGrassColor,
  $col11 $row10 $darkGrassColor,
  //row 11 same as 3
  //row 12 same as 4
  $col7 $row12 $darkGrassColor,
  $col15 $row12 $darkGrassColor,
  //row 13 same as 5
  $col2 $row13 $darkGrassColor,
  $col10 $row13 $darkGrassColor,
  //row 14 same as 6
  //row 15 same as 7
  $col4 $row15 $darkGrassColor,
  $col12 $row15 $darkGrassColor;
  //row 16 same as 8

  display: block;
  //float: left;
  //margin-right: 60px;
  background: $lightGrassColor;
  @include onePixel;
}

.treeTile {
  @include oneTile;
  background: $lightGrassColor;
}

.treeTile::after {
  content: "";
  display: block;
  background: $lightGrassColor;
  @include onePixel;

  box-shadow:
  $col4 $row1 $black,
  $col5 $row1 $darkGrassColor,
  $col12 $row1 $black,
  $col13 $row1 $darkGrassColor,
  $col3 $row2 $black,
  $col4 $row2 $darkGrassColor,
  $col5 $row2 $darkGrassColor,
  $col6 $row2 $darkGrassColor,
  $col11 $row2 $black,
  $col12 $row2 $darkGrassColor,
  $col13 $row2 $darkGrassColor,
  $col14 $row2 $darkGrassColor,
  $col2 $row3 $black,
  $col3 $row3 $darkGrassColor,
  $col4 $row3 $darkGrassColor,
  $col5 $row3 $lightGrassColor,
  $col6 $row3 $darkGrassColor,
  $col7 $row3 $darkGrassColor,
  $col10 $row3 $black,
  $col11 $row3 $darkGrassColor,
  $col12 $row3 $darkGrassColor,
  $col13 $row3 $lightGrassColor,
  $col14 $row3 $darkGrassColor,
  $col15 $row3 $darkGrassColor,
  $col2 $row4 $black,
  $col3 $row4 $darkGrassColor,
  $col4 $row4 $darkGrassColor,
  $col5 $row4 $darkGrassColor,
  $col6 $row4 $darkGrassColor,
  $col7 $row4 $darkGrassColor,
  $col10 $row4 $black,
  $col11 $row4 $darkGrassColor,
  $col12 $row4 $darkGrassColor,
  $col13 $row4 $darkGrassColor,
  $col14 $row4 $darkGrassColor,
  $col15 $row4 $darkGrassColor,
  $col1 $row5 $black,
  $col2 $row5 $darkGrassColor,
  $col3 $row5 $darkGrassColor,
  $col4 $row5 $black,
  $col5 $row5 $darkGrassColor,
  $col6 $row5 $darkGrassColor,
  $col7 $row5 $darkGrassColor,
  $col8 $row5 $darkGrassColor,
  $col9 $row5 $black,
  $col10 $row5 $darkGrassColor,
  $col11 $row5 $darkGrassColor,
  $col12 $row5 $black,
  $col13 $row5 $darkGrassColor,
  $col14 $row5 $darkGrassColor,
  $col15 $row5 $darkGrassColor,
  $col16 $row5 $darkGrassColor,
  $col1 $row6 $darkGrassColor,
  $col2 $row6 $black,
  $col3 $row6 $darkGrassColor,
  $col4 $row6 $darkGrassColor,
  $col5 $row6 $darkGrassColor,
  $col6 $row6 $lightGrassColor,
  $col7 $row6 $darkGrassColor,
  $col8 $row6 $darkGrassColor,
  $col9 $row6 $darkGrassColor,
  $col10 $row6 $black,
  $col11 $row6 $darkGrassColor,
  $col12 $row6 $darkGrassColor,
  $col13 $row6 $darkGrassColor,
  $col14 $row6 $lightGrassColor,
  $col15 $row6 $darkGrassColor,
  $col16 $row6 $darkGrassColor,
  $col1 $row7 $black,
  $col2 $row7 $darkGrassColor,
  $col3 $row7 $darkGrassColor,
  $col4 $row7 $darkGrassColor,
  $col5 $row7 $darkGrassColor,
  $col6 $row7 $darkGrassColor,
  $col7 $row7 $darkGrassColor,
  $col8 $row7 $darkGrassColor,
  $col9 $row7 $black,
  $col10 $row7 $darkGrassColor,
  $col11 $row7 $darkGrassColor,
  $col12 $row7 $darkGrassColor,
  $col13 $row7 $darkGrassColor,
  $col14 $row7 $darkGrassColor,
  $col15 $row7 $darkGrassColor,
  $col16 $row7 $darkGrassColor,
  $col1 $row8 $darkGrassColor,
  $col2 $row8 $black,
  $col3 $row8 $darkGrassColor,
  $col4 $row8 $darkGrassColor,
  $col5 $row8 $darkGrassColor,
  $col6 $row8 $darkGrassColor,
  $col7 $row8 $lightGrassColor,
  $col8 $row8 $darkGrassColor,
  $col9 $row8 $darkGrassColor,
  $col10 $row8 $black,
  $col11 $row8 $darkGrassColor,
  $col12 $row8 $darkGrassColor,
  $col13 $row8 $darkGrassColor,
  $col14 $row8 $darkGrassColor,
  $col15 $row8 $lightGrassColor,
  $col16 $row8 $darkGrassColor,
  $col1 $row9 $black,
  $col2 $row9 $darkGrassColor,
  $col3 $row9 $black,
  $col4 $row9 $darkGrassColor,
  $col5 $row9 $darkGrassColor,
  $col6 $row9 $darkGrassColor,
  $col7 $row9 $darkGrassColor,
  $col8 $row9 $darkGrassColor,
  $col9 $row9 $black,
  $col10 $row9 $darkGrassColor,
  $col11 $row9 $black,
  $col12 $row9 $darkGrassColor,
  $col13 $row9 $darkGrassColor,
  $col14 $row9 $darkGrassColor,
  $col15 $row9 $darkGrassColor,
  $col16 $row9 $darkGrassColor,
  $col1 $row10 $darkGrassColor,
  $col2 $row10 $black,
  $col3 $row10 $darkGrassColor,
  $col4 $row10 $darkGrassColor,
  $col5 $row10 $darkGrassColor,
  $col6 $row10 $darkGrassColor,
  $col7 $row10 $treeTrunkBrown,
  $col8 $row10 $darkGrassColor,
  $col9 $row10 $darkGrassColor,
  $col10 $row10 $black,
  $col11 $row10 $darkGrassColor,
  $col12 $row10 $darkGrassColor,
  $col13 $row10 $darkGrassColor,
  $col14 $row10 $darkGrassColor,
  $col15 $row10 $treeTrunkBrown,
  $col16 $row10 $darkGrassColor,
  $col1 $row11 $black,
  $col2 $row11 $darkGrassColor,
  $col3 $row11 $black,
  $col4 $row11 $darkGrassColor,
  $col5 $row11 $darkGrassColor,
  $col6 $row11 $darkGrassColor,
  $col7 $row11 $darkGrassColor,
  $col8 $row11 $black,
  $col9 $row11 $black,
  $col10 $row11 $darkGrassColor,
  $col11 $row11 $black,
  $col12 $row11 $darkGrassColor,
  $col13 $row11 $darkGrassColor,
  $col14 $row11 $darkGrassColor,
  $col15 $row11 $darkGrassColor,
  $col16 $row11 $black,
  $col2 $row12 $black,
  $col3 $row12 $treeTrunkBrown,
  $col4 $row12 $treeTrunkBrown,
  $col5 $row12 $darkGrassColor,
  $col6 $row12 $treeTrunkBrown,
  $col7 $row12 $black,
  $col10 $row12 $black,
  $col11 $row12 $treeTrunkBrown,
  $col12 $row12 $treeTrunkBrown,
  $col13 $row12 $darkGrassColor,
  $col14 $row12 $treeTrunkBrown,
  $col15 $row12 $black,
  $col3 $row13 $black,
  $col4 $row13 $treeTrunkBrown,
  $col5 $row13 $treeTrunkBrown,
  $col11 $row13 $black,
  $col12 $row13 $treeTrunkBrown,
  $col13 $row13 $treeTrunkBrown,
  $col1 $row14 $black,
  $col2 $row14 $black,
  $col3 $row14 $black,
  $col4 $row14 $treeTrunkBrown,
  $col5 $row14 $treeTrunkBrown,
  $col6 $row14 $black,
  $col9 $row14 $black,
  $col10 $row14 $black,
  $col11 $row14 $black,
  $col12 $row14 $treeTrunkBrown,
  $col13 $row14 $treeTrunkBrown,
  $col14 $row14 $black,
  $col1 $row15 $black,
  $col2 $row15 $black,
  $col3 $row15 $treeTrunkBrown,
  $col4 $row15 $black,
  $col5 $row15 $treeTrunkBrown,
  $col6 $row15 $treeTrunkBrown,
  $col7 $row15 $black,
  $col9 $row15 $black,
  $col10 $row15 $black,
  $col11 $row15 $treeTrunkBrown,
  $col12 $row15 $black,
  $col13 $row15 $treeTrunkBrown,
  $col14 $row15 $treeTrunkBrown,
  $col15 $row15 $black,
  $col2 $row16 $black,
  $col3 $row16 $black,
  $col4 $row16 $black,
  $col5 $row16 $black,
  $col6 $row16 $black,
  $col10 $row16 $black,
  $col11 $row16 $black,
  $col12 $row16 $black,
  $col13 $row16 $black,
  $col14 $row16 $black;
}

.hillTile {
  @include oneTile;
  background: $lightGrassColor;
}

.hillTile::after {
  content: "";
  display: block;
  background: $lightGrassColor;
  @include onePixel;

  box-shadow:
  $col14 $row1 $black,
  $col3 $row2 $black,
  $col11 $row2 $black,
  $col7 $row4 $black,
  $col8 $row4 $black,
  $col9 $row4 $black,
  $col10 $row4 $black,
  $col15 $row4 $black,
  $col2 $row5 $black,
  $col6 $row5 $black,
  $col11 $row5 $black,
  $col5 $row6 $black,
  $col7 $row6 $hillTan,
  $col10 $row6 $hillTan,
  $col12 $row6 $black,
  $col4 $row7 $black,
  $col6 $row7 $hillTan,
  $col7 $row7 $hillTan,
  $col11 $row7 $hillTan,
  $col13 $row7 $black,
  $col3 $row8 $black,
  $col5 $row8 $hillTan,
  $col6 $row8 $hillTan,
  $col11 $row8 $hillTan,
  $col12 $row8 $hillTan,
  $col14 $row8 $black;

}

#main {
  position: relative;
}

//#pos1 {
//  position: absolute;
//}

//#pos2 {
  //position: absolute;
  //left: $pixelWidth * 16;
//}
@for $k from 0 through 15 {
  @for $i from 0 through 15 {
    #pos#{$k}-#{$i} {
      position: absolute;
      top: $pixelHeight * (16 * $k);
      left: $pixelWidth * (16 * $i)}
  }
}
